<p><b>PREMIOS</b></p>
<p>
  EL JUGADOR CAMPEÓN DEL #ACERCHALLENGEFORTNITE RECIBIRÁ USD $300USD COMO PREMIO
  QUE SERÁ ENTREGADO AL JUGADOR GANADOR O A SU APODERADO (EN CASO FUERA MENOR DE
  EDAD) EN UN PLAZO NO MAYOR A 7 DÍAS CALENDARIOS LUEGO DE LA FINALIZACIÓN DEL
  TORNEO MEDIANTE TRANSFERENCIA BANCARIA O INTERBANCARIA SI POSEEN OTRO BANCO
  DIFERENTE A INTERBANK.
</p>
<p>
  EL JUGADOR SUB-CAMPEÓN DEL ACERCHALLENGE RECIBIRÁ USD $100USD COMO PREMIO QUE
  SERÁ ENTREGADO AL JUGADOR GANADOR O A SU APODERADO (EN CASO FUERA MENOR DE
  EDAD) EN UN PLAZO NO MAYOR A 7 DÍAS CALENDARIOS LUEGO DE LA FINALIZACIÓN DEL
  TORNEO MEDIANTE TRANSFERENCIA BANCARIA O INTERBANCARIA SI POSEEN OTRO BANCO
  DIFERENTE A INTERBANK.
</p>
<p>
  LOS JUGADORES QUE OCUPEN EL 3-4 LUGAR EN EL ACERCHALLENGE RECIBIRÁ USD $50USD
  COMO PREMIO QUE SERÁ ENTREGADO A CADA JUGADOR GANADOR O A SU APODERADO (EN
  CASO FUERA MENOR DE EDAD) EN UN PLAZO NO MAYOR A 7 DÍAS CALENDARIOS LUEGO DE
  LA FINALIZACIÓN DEL TORNEO MEDIANTE TRANSFERENCIA BANCARIA O INTERBANCARIA SI
  POSEEN OTRO BANCO DIFERENTE A INTERBANK.
</p>
<p>SE SORTEARÁ DURANTE LA DURACIÓN DEL TORNEO:</p>
<p>
  ● SE REALIARÁN 05 SORTEOS, DONDE CADA GANADOR OBTENDRÁ LA SUMA DE 5.000 PAVOS
  A LAS PERSONAS QUE SE ENCUENTREN VIENDO LAS TRANSMISIONES EN VIVO.
</p>
<p><b>PROGRAMACIÓN</b></p>
<p><b>- ANUNCIO DE INSCRIPCIONES:</b> 08 DE MARZO DE 2022.</p>
<p>
  <b>- CIERRE DE INSCRIPCIONES:</b> 24 DE MARZO DE 2022 O HASTA AGOTAR LOS 500
  SLOTS.
</p>
<p><b>FECHA DE RONDAS:</b></p>
<p>- DÍA 1 - 25 DE MARZO DE 2022: 6:00PM.</p>
<p>- DÍA 2 - 26 DE MARZO DE 2022: 6:00PM.</p>
