<p><b>PREMIOS</b></p>
<p>
  EL EQUIPO CAMPEÓN DEL #ACERCHALLENGEVALORANT RECIBIRÁ USD $300USD COMO PREMIO
  QUE SERÁ ENTREGADO AL EQUIPO GANADOR (EL CAPITAN) Y EL SE ENCARGARÁ DE LA
  DISTRUBICIÓN INTERNA DEL MISMO. REALIZAREMOS EL PAGO EN UN PLAZO NO MAYOR A 7
  DÍAS CALENDARIOS LUEGO DE LA FINALIZACIÓN DEL TORNEO MEDIANTE TRANSFERENCIA
  BANCARIA O INTERBANCARIA SI POSEEN OTRO BANCO DIFERENTE A INTERBANK.
</p>
<p>
  EL EQUIPO SUB-CAMPEÓN DEL #ACERCHALLENGEVALORANT RECIBIRÁ USD $100USD COMO
  PREMIO QUE SERÁ ENTREGADO AL EQUIPO GANADOR (EL CAPITAN) Y EL SE ENCARGARÁ DE
  LA DISTRUBICIÓN INTERNA DEL MISMO. REALIZAREMOS EL PAGO EN UN PLAZO NO MAYOR A
  7 DÍAS CALENDARIOS LUEGO DE LA FINALIZACIÓN DEL TORNEO MEDIANTE TRANSFERENCIA
  BANCARIA O INTERBANCARIA SI POSEEN OTRO BANCO DIFERENTE A INTERBANK.
</p>
<p>
  LOS EQUIPOS QUE OCUPEN EL 3-4 LUGAR EN EL #ACERCHALLENGEVALORANT RECIBIRÁ USD
  $50USD COMO PREMIO QUE SERÁ ENTREGADO AL EQUIPO GANADOR (EL CAPITAN) Y EL SE
  ENCARGARÁ DE LA DISTRUBICIÓN INTERNA DEL MISMO. REALIZAREMOS EL PAGO EN UN
  PLAZO NO MAYOR A 7 DÍAS CALENDARIOS LUEGO DE LA FINALIZACIÓN DEL TORNEO
  MEDIANTE TRANSFERENCIA BANCARIA O INTERBANCARIA SI POSEEN OTRO BANCO DIFERENTE
  A INTERBANK.
</p>
<p>
  ● SE REALIARÁN 3 SORTEOS, DONDE CADA GANADOR OBTENDRÁ UNA GIFT CARD DE 10$. EL
  SORTEO ES SOLO VALIDO PARA LAS PERSONAS QUE SE ENCUENTREN EN EL STREAM DEL DÍA
  24 DE SEPTIEMBRE DE 2023 A PARTIR DE LAS 5:00PM PE
</p>
<p><b>PROGRAMACIÓN</b></p>
<p><b>- ANUNCIO DE INSCRIPCIONES:</b> 05 DE SEPTIEMBRE DE 2023.</p>
<p><b>- CIERRE DE INSCRIPCIONES:</b> 20 DE SEPTIEMBRE 2023</p>
<p><b>FECHA DE TORNEO:</b></p>
<p>- QUALIFIERS - 23 DE SEPTIEMBRE DE 2023.</p>
<p>- FINAL - 24 DE SEPTIEMBRE DE 2023.</p>
