<p><b>PREMIOS</b></p>
<p>
  EL EQUIPO GANADOR DEL TORNEO RECIBIRÁ USD $500USD COMO PREMIO EN EFECTIVO QUE
  SERÁ ENTREGADO AL CAPITÁN DEL EQUIPO O A SU APODERADO (EN CASO FUERA MENOR DE
  EDAD) EN UN PLAZO NO MAYOR A 45 DÍAS CALENDARIOS LUEGO DE LA FINALIZACIÓN DEL
  TORNEO MEDIANTE TRANSFERENCIA EN LOS SIGUIENTES BANCOS: BCP, INTERBANK, BBVA O
  SCOTIABANK. EL EQUIPO QUE OCUPE EL SEGUNDO LUGAR OBTENDRÁ UN PRIZEPOOL DE $100
  QUE SERÁN ENTREGADOS AL CAPITÁN DEL EQUIPO O A SU APODERADO (EN CASO FUERA
  MENOR DE EDAD) EN UN PLAZO NO MAYOR A 45 DÍAS CALENDARIOS LUEGO DE LA
  FINALIZACIÓN DEL TORNEO.
</p>
<p>SE SORTEARÁ DURANTE LA DURACIÓN DEL TORNEO:</p>
<p>
  ● 05 STEAM CARDS CON UN VALOR DE USD 10 CADA UNA DURANTE LA FASE FINAL DEL
  TORNEO QUE SE ENCUENTREN VIENDO LAS TRANSMISIONES EN VIVO.
</p>
<p><b>PROGRAMACIÓN</b></p>
<p>- ANUNCIO DE INSCRIPCIONES: 06 DE DICIEMBRE DEL 2021.</p>
<p>
  - CIERRE DE INSCRIPCIONES: HASTA AGOTAR LOS 128 SLOTS O 17 DE DICIEMBRE DEL
  2021.
</p>
<p>FASE DE ELIMINACIÓN SIMPLE (BO1):</p>
<p>
  - <b>FECHA 1:</b> 2:00PM RONDA 64 DEL TORNEO (PARTICIPAN 128 EQUIPOS SOLO
  AVANZAN 64) 18 DE DICIEMBRE DE 2021.
</p>
<p>
  - <b>FECHA 2:</b> ASAP RONDA 32 DEL TORNEO (PARTICIPAN 64 EQUIPOS SOLO AVANZAN
  32) 18 DE DICIEMBRE DE 2021.
</p>
<p>
  - <b>FECHA 3:</b> ASAP RONDA 16 DEL TORNEO (PARTICIPAN 32 EQUIPOS SOLO AVANZAN
  16) 18 DE DICIEMBRE DE 2021.
</p>
<p>
  - <b>FECHA 4:</b> ASAP RONDA 8 DEL TORNEO (PARTICIPAN 16 QUIPOS SOLO AVANZAN
  8) 18 DE DICIEMBRE DE 2021.
</p>
<p>
  - <b>FECHA 5:</b> ASAP RONDA 4 DEL TORNEO (PARTICIPAN 8 QUIPOS SOLO AVANZAN 4)
  18 DE DICIEMBRE DE 2021.
</p>
<p><b>PLAYOFFS (BO1) // GRAN FINAL (BO3):</b></p>
<p>
  - <b>FECHA 6:</b> SEMIFINAL A (PARTICIPAN LOS 2 DE LA LLAVE SUPERIOR DONDE
  AVANZARÁ 1 FINALISTA) 19 DE DICIEMBRE DE 2021 4:00PM BO1.
</p>
<p>
  - <b>FECHA 7:</b> SEMIFINAL B (PARTICIPAN LOS 2 DE LA LLAVE SUPERIOR DONDE
  AVANZARÁ 1 FINALISTA) 19 DE DICIEMBRE DE 2021 5:30PM BO1.
</p>
<p>- <b>FECHA 8:</b> GRAN FINAL - 19 DE DICIEMBRE DE 2021 7:00PM - BO3.</p>
