<p>
  PARTICIPAN ÚNICAMENTE PERSONAS PERUANAS CON DOCUMENTO DE IDENTIDAD DNI VIGENTE
  AGRUPADAS EQUIPOS DE 05 USUARIOS CON LA POSIBILIDAD DE 01 SUPLENTE (OPCIONAL).
  EL REGISTRO ESTARÁ A CARGO DE UN SOLO PARTICIPANTE EL CUAL SERÁ
  <strong>EL CAPITÁN</strong> Y SE REALIZARÁ A TRAVÉS DE LA PLATAFORMA DE
  BATTLEFY CON LA SIGUIENTE INSCRIPCIÓN.
</p>
<p>
  SE ADMITE REGISTROS DE MENORES DE EDAD ÚNICAMENTE EN CASO DE QUE UNO DE LOS
  PADRES O APODERADOS LEGALES NOS ENVÍE EXPRESAMENTE LA AUTORIZACIÓN A NUESTRO
  CORREO
  <a href="mailto:owner@qwerstudios.com">OWNER@QWERSTUDIOS.COM</a> CON LA
  AUTORIZACÍON DEL APODERADO. PARA TODOS ESTOS CASOS ES RESPONSABILIDAD DE CADA
  MIEMBRO MENOR DE EDAD DEL EQUIPO CONSULTAR Y RECIBIR AUTORIZACIÓN DE SUS
  PADRES O APODERADOS. SI EL ALGÚN MOMENTO DURANTE EL DESARROLLO DEL TORNEO SE
  RECIBE COMUNICACIÓN EXPRESA DE ALGÚN PADRE O APODERADO NEGANDO DICHA
  <strong>AUTORIZACIÓN LA ORGANIZACIÓN</strong> PROCEDERÁ A LA DESCALIFICACIÓN
  INMEDIATA, LA CUAL SERÁ ENVIADA A <strong>EL CAPITÁN</strong> VÍA CORREO
  ELECTRÓNICO. <strong>EL CAPITÁN</strong> ESTARÁ FACULTADO PARA ENVIAR UNA
  COMUNICACIÓN A <strong>LA ORGANIZACIÓN</strong> POR CUALQUIER VÍA DE CONTACTO
  OFICIAL PARA RETIRAR SU INSCRIPCIÓN DEL TORNEO DURANTE CUALQUIER ETAPA DE SU
  REALIZACIÓN.
</p>
<p>
  PARA EFECTOS DE LA EJECUCIÓN DEL TORNEO Y DURANTE LA DEPURACIÓN DE REGISTROS
  PREVIA A LA SELECCIÓN ALEATORIA DE PARTICIPANTES SE ELIMINARÁ A TODOS A LOS
  QUE <strong>LA ORGANIZACIÓN</strong> CONSIDERE QUE SE ENCUENTREN EN INFRACCIÓN
  DE ALGUNA DE LAS SIGUIENTES PROHIBICIONES (EN CUALQUIERA DE LOS CASOS, SIN
  LUGAR A RECLAMO):
</p>
<p>
  ● REGISTROS MÚLTIPLES DE EQUIPOS (VARIOS REGISTROS CON INFORMACIÓN IDÉNTICA O
  REPETIDA).
  <br />
  ● REGISTROS DEL MISMO USUARIO EN MÁS DE UN EQUIPO (SE ELIMINARÁ LOS REGISTROS
  DE TODOS LOS EQUIPOS DONDE SE REPITA).
  <br />
  ● REGISTROS CON CAMPOS INCOMPLETOS, FALSOS O QUE CONTENGAN INFORMACIÓN
  FRAUDULENTA.
  <br />
  ● NOMBRES DE EQUIPOS O USUARIOS QUE CONTENGAN TÉRMINOS VULGARES O QUE SE
  PUEDAN CONSIDERAR OFENSIVOS, RACISTAS, QUE SUPONGAN APOLOGÍA DE DELITO O
  CRIMEN Y/O QUE INCITEN AL ODIO EN CUALQUIER MODALIDAD.
</p>
<p>
  <strong>LA ORGANIZACIÓN</strong> SE RESERVA EL DERECHO DE INVALIDAR CUALQUIER
  REGISTRO O DESCALIFICAR A CUALQUIER PARTICIPANTE O EQUIPO EN CUALQUIER ETAPA
  DE LA REALIZACIÓN DEL PRESENTE TORNEO SI ASÍ LO CONSIDERA PERTINENTE.
</p>
<p>
  DURANTE LA FASE DE REGISTROS CADA CAPITÁN DEBERÁ ACEPTAR LOS TÉRMINOS Y
  CONDICIONES DE REGISTRO, PARA ELLO DEBERÁ LEERLOS Y SERÁ SU RESPONSABILIDAD
  INFORMARLOS A TODOS LOS INVOLUCRADOS PREVIO A ENVIAR LA INFORMACIÓN SOLICITADA
  POR <strong>LA ORGANIZACIÓN</strong> PARA SU POSIBLE PARTICIPACIÓN.
</p>
