<p>
  PARTICIPAN ÚNICAMENTE PERSONAS PERUANAS CON DOCUMENTO DE IDENTIDAD DNI
  VIGENTE.
</p>
<p>
  SE ADMITE REGISTROS DE MENORES DE EDAD ÚNICAMENTE EN CASO DE QUE UNO DE LOS
  PADRES O APODERADOS LEGALES NOS ENVÍE EXPRESAMENTE LA AUTORIZACIÓN A NUESTRO
  CORREO
  <a href="mailto:owner@qwerstudios.com">OWNER@QWERSTUDIOS.COM</a> CON LA
  AUTORIZACÍON DEL APODERADO. PARA TODOS ESTOS CASOS ES RESPONSABILIDAD DE CADA
  MIEMBRO MENOR DE EDAD CONSULTAR Y RECIBIR AUTORIZACIÓN DE SUS PADRES O
  APODERADOS. SI EL ALGÚN MOMENTO DURANTE EL DESARROLLO DEL TORNEO SE RECIBE
  COMUNICACIÓN EXPRESA DE ALGÚN PADRE O APODERADO NEGANDO DICHA AUTORIZACIÓN LA
  ORGANIZACIÓN PROCEDERÁ A LA DESCALIFICACIÓN INMEDIATA.
</p>
<p>
  PARA EFECTOS DE LA EJECUCIÓN DEL TORNEO Y DURANTE LA DEPURACIÓN DE REGISTROS
  PREVIA A LA SELECCIÓN ALEATORIA DE PARTICIPANTES SE ELIMINARÁ A TODOS A LOS
  QUE LA ORGANIZACIÓN CONSIDERE QUE SE ENCUENTREN EN INFRACCIÓN DE ALGUNA DE LAS
  SIGUIENTES PROHIBICIONES (EN CUALQUIERA DE LOS CASOS, SIN LUGAR A RECLAMO):
</p>
<p>
  ● REGISTROS MÚLTIPLES DE JUGADOR (VARIOS REGISTROS CON INFORMACIÓN IDÉNTICA O
  REPETIDA).
  <br />
  ● REGISTROS CON CAMPOS INCOMPLETOS, FALSOS O QUE CONTENGAN INFORMACIÓN
  FRAUDULENTA.
  <br />
  ● NOMBRES DE JUGADORES QUE CONTENGAN TÉRMINOS VULGARES O QUE SE PUEDAN
  CONSIDERAR OFENSIVOS, RACISTAS, QUE SUPONGAN APOLOGÍA DE DELITO O CRIMEN Y/O
  QUE INCITEN AL ODIO EN CUALQUIER MODALIDAD.
</p>
<p>
  LA ORGANIZACIÓN SE RESERVA EL DERECHO DE INVALIDAR CUALQUIER REGISTRO O
  DESCALIFICAR A CUALQUIER PARTICIPANTE EN CUALQUIER ETAPA DE LA REALIZACIÓN DEL
  PRESENTE TORNEO SI ASÍ LO CONSIDERA PERTINENTE.
</p>
<p>
  DURANTE LA FASE DE REGISTROS CADA JUGADOR DEBERÁ ACEPTAR LOS TÉRMINOS Y
  CONDICIONES DE REGISTRO, PARA ELLO DEBERÁ LEERLOS Y SERÁ SU RESPONSABILIDAD
  INFORMARSE.
</p>
