.third-section {
  align-items: center;
  background-image: url("/assets/media/bg-3.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 1100px;
  padding: 2.5% 1% 2%;
  text-align: center;
  .title {
    font-size: 3.5em;
    margin: 0;
  }
  .subtitle {
    font-size: 1.5em;
    margin: 2% 0 5%;
  }
  app-footer {
    margin-top: auto;
  }
}
