<div class="acer third-section">
  <h1 class="title" [@scrollAnimation]="state">
    ¡VIVE LA EMOCIÓN DEL TORNEO<br />DESDE DONDE ESTÉS!
  </h1>
  <p class="subtitle" [@scrollAnimation]="state">
    SIGUE A TU "JUGADOR" FAVORITO EN NUESTRAS<br />TRANSMISIONES Y PARTICIPARÁS
    POR GIFS CARDS DE STEAM
  </p>
  <app-silver-gradient-button
    text="VER"
    routerLink="/envivo"
    [@scrollAnimation]="state"
  ></app-silver-gradient-button>
  <app-footer [@scrollAnimation]="state"></app-footer>
</div>
