.acer.third-section {
  align-items: center;
  background-image: url("/assets/media/bg-3.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 1000px;
  padding: 40px 28px 0;
  position: relative;
  text-align: center;
  .title {
    font-family: "Radiance";
    font-size: 3.5em;
    font-weight: bold;
    margin: 0;
    line-height: 1em;
  }
  .subtitle {
    font-family: "Radiance";
    font-size: 1.5em;
    margin: 2% 0 0;
  }
  app-silver-gradient-button {
    position: absolute;
    top: 43%;
    &:hover {
      top: 42%;
      --font-size: 5vh;
      --max-width: 280px;
      --vertical-padding: 7px;
    }
  }
  app-footer {
    margin-top: auto;
  }
  @media only screen and (max-width: 1218px) {
    app-silver-gradient-button:hover {
      --width: 25vw;
    }
  }
  @media only screen and (max-width: 600px) {
    .title {
      font-size: 8.3vw;
    }
    .subtitle {
      font-size: 5.1vw;
    }
    app-silver-gradient-button {
      top: 44%;
    }
  }
}
