<div class="acer third-section">
  <div class="overlay">
    <h1 class="title" [@scrollAnimation]="state">
      ¡VIVE LA EMOCIÓN DEL #ACERCHALLENGE<br />DESDE DONDE ESTÉS!
    </h1>
    <p class="subtitle" [@scrollAnimation]="state">
      SIGUE A TU JUGADOR FAVORITO EN NUESTRA<br />TRANSMISIÓN Y PARTICIPA POR
      PAVOS.
    </p>
    <app-silver-gradient-button
      text="VER"
      routerLink="/envivo"
      [@scrollAnimation]="state"
    ></app-silver-gradient-button>
    <app-footer [@scrollAnimation]="state"></app-footer>
  </div>
</div>
