.acer.brands-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .image {
    height: 3.7vh;
    margin: 5px 3vw;
    &--falabella {
      height: 5vh;
    }
  }
}
