$animate: all 0.05s ease-in-out;

.navbar {
  min-height: 3em;
  padding: 3.8em 7em 2.2em 7em;
  &--collapsed {
    display: none;
  }
  &--expanded {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
  }
  @media only screen and (max-width: 992px) {
    &--expanded {
      display: none;
    }
    &--collapsed {
      display: flex;
    }
  }
}

.live-point {
  background-image: linear-gradient(to top, #f61e00, #f8a200);
  border-radius: 50%;
  height: 12px;
  margin-right: 6px;
  width: 12px;
}

.option {
  &--flex {
    align-items: center;
    display: flex;
  }
  .hover {
    font-size: 1.7em;
    font-weight: bold;
    margin: 0 auto;
    padding: 0;
    position: relative;
    transition: $animate;
    &:before,
    &:after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 0px;
      height: 5px;
      margin: 5px 0 0;
      transition: $animate;
      transition-duration: 0.75s;
      opacity: 0;
      background: linear-gradient(90deg, rgb(246, 25, 0), rgb(248, 163, 0));
    }
  }
  &:hover {
    cursor: pointer;
    .hover {
      &:before,
      &:after {
        width: 100%;
        opacity: 1;
      }
    }
  }
}

.active {
  cursor: pointer;
  .hover {
    &:before,
    &:after {
      width: 100%;
      opacity: 1;
    }
  }
}
