<div class="navbar">
  <div class="navbar--collapsed">
    <span><img src="/assets/icons/more-vertical.svg" /></span>
  </div>
  <div class="navbar--expanded">
    <div class="option" routerLink="/inicio" routerLinkActive="active">
      <span class="hover">INICIO</span>
    </div>
    <div class="option" routerLink="/legal" routerLinkActive="active">
      <span class="hover">REGLAMENTO</span>
    </div>
    <div class="option" routerLink="/registro" routerLinkActive="active">
      <span class="hover">INSCRIPCIONES</span>
    </div>
    <div
      class="option option--flex"
      routerLink="/envivo"
      routerLinkActive="active"
    >
      <div class="live-point"></div>
      <span class="hover">EN VIVO</span>
    </div>
  </div>
</div>
