:host {
  --font-size: 4vh;
  --font-weight: 300;
  --max-width: 235px;
  --padding: 8px 0 3px;
  --width: 20vw;
}

.acer.module {
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  max-width: var(--max-width);
  min-width: 205px;
  position: relative;
  color: white;
  padding: var(--padding);
  text-align: center;
  width: var(--width);
  &--disabled {
    pointer-events: none;
  }
}
.acer.module-border {
  position: absolute;
  overflow: visible;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
  fill: none;
  stroke: url(#grad);
  stroke-width: 4px;
}
.acer.module-text {
  background-image: -webkit-linear-gradient(#aaaaaa, #ffffff);
  background-clip: text;
  color: #ffffff;
  font-family: "Teko";
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: 1em;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
#grad stop:nth-child(1) {
  stop-color: #dd0000;
}
#grad stop:nth-child(2) {
  stop-color: #dd0000;
}
