:host {
  --background: rgba(0, 0, 0, 0.5);
  --text-background: linear-gradient(to top, #ffffff, #aaaaaa),
    linear-gradient(to bottom, #fefefe, #fefefe);
}

.module {
  background: var(--background);
  cursor: pointer;
  max-width: 235px;
  min-width: 205px;
  position: relative;
  color: white;
  padding: 8px 0 3px;
  text-align: center;
  width: 20vw;
}
.module-border {
  position: absolute;
  overflow: visible;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
  fill: none;
  stroke: url(#grad);
  stroke-width: 4px;
}
.module-text {
  background-image: var(--text-background);
  background-clip: text;
  font-family: "Teko";
  font-size: 4vh;
  font-weight: 300;
  -webkit-text-fill-color: transparent;
}
#grad stop:nth-child(1) {
  stop-color: rgb(238, 27, 0);
}
#grad stop:nth-child(2) {
  stop-color: rgb(250, 160, 0);
}
