<div class="terms">
  <h1>ACER AMERICA CORPORATION</h1>
  <p>
    ACER, INC. OF 8F, NO. 88, SEC. 1, XIN TAI 5TH ROAD, XIZHI, NEW TAIPEI CITY
    221, TAIWAN, R.O.C. Y SU GRUPO DE EMPRESAS POR TODO EL MUNDO (INCLUYENDO,
    PERO NO LIMITADA A, SUS MARCAS AFILIADAS GATEWAY, EMACHINES Y PACKARD BELL,
    CUYO LISTADO SE PUEDE ENCONTRAR EN
    WWW.ACER-GROUP.COM/AG/EN/TW/CONTENT/OFFICE-LIST) (COLECTIVAMENTE: “ACER”
    “NUESTROS/AS” O “NOSOTROS”) RESPETA LA PRIVACIDAD DE NUESTROS CLIENTES Y
    VISITANTES EN LÍNEA. EL OBJETIVO DE ESTA POLÍTICA DE PRIVACIDAD ES
    INFORMARLE SOBRE NUESTRAS PRÁCTICAS DE INFORMACIÓN EN LÍNEA, NUESTRAS
    PRÁCTICAS EN RELACIÓN CON LA RECOPILACIÓN, ALMACENAMIENTO, PROCESAMIENTO,
    TRANSFERENCIA Y USO DE INFORMACIÓN PERSONAL, Y LAS OPCIONES DISPONIBLES CON
    RESPECTO A LA RECOPILACIÓN Y USO DE SU INFORMACIÓN PERSONAL, INCLUIDO EL
    REGISTRO DE LA CUENTA DE ACCER Y LOS SERVICIOS RELACIONADOS (EL LLAMADO
    “IDENTIFICADOR ACERID”) Y EL SERVICIO DE BOLETÍN INFORMATIVO.
  </p>
  <p>
    PUEDE ACCEDER AL SERVICIO DE ACER (EL “SERVICIO”) A TRAVÉS DE NUESTRO SITIO
    WEB, APLICACIONES EN DISPOSITIVOS, A TRAVÉS DE INTERFACES API, Y A TRAVÉS DE
    TERCEROS. UN "DISPOSITIVO" ES CUALQUIER ORDENADOR QUE SE UTILICE PARA
    ACCEDER A NUESTRO SERVICIO, INCLUYENDO ENTRE OTROS UN ORDENADOR DE
    SOBREMESA, UN ORDENADOR PORTÁTIL, UN TELÉFONO MÓVIL, UNA TABLETA U OTRO
    DISPOSITIVO ELECTRÓNICO DE CONSUMO. ESTA POLÍTICA DE PRIVACIDAD RIGE SU
    ACCESO A NUESTRO SERVICIO, INDEPENDIENTEMENTE DE CÓMO ACCEDA. AL UTILIZAR
    NUESTRO SERVICIO Y DAR SU CONSENTIMIENTO EXPRESO (CUANDO SEA NECESARIO)
    USTED CONSIENTE LA RECOPILACIÓN, TRANSFERENCIA, PROCESAMIENTO,
    ALMACENAMIENTO, DIVULGACIÓN Y OTROS USOS QUE SE DESCRIBEN EN ESTA POLÍTICA
    DE PRIVACIDAD.
  </p>
  <p>QUÉ RECOPILAMOS Y CÓMO LO RECOPILAMOS:</p>
  <p>
    RECOPILAMOS DISTINTOS TIPOS DE INFORMACIÓN PARA AYUDARNOS A PROPORCIONAR UN
    MEJOR SERVICIO A NUESTROS CLIENTES Y A LOS VISITANTES DE NUESTRA PÁGINA WEB:
  </p>
  <p>
    ● DIRECCIONES DE PROTOCOLO DE INTERNET (IP). NUESTRO SERVIDOR DE RED
    RECONOCE Y ALMACENA AUTOMÁTICAMENTE LA DIRECCIÓN IP (DIRECCIÓN DE PROTOCOLO
    DE INTERNET DEL ORDENADOR DEL VISITANTE) DE CADA VISITANTE QUE ACCEDE O
    UTILIZA NUESTRO SERVICIO, O QUE VISITA NUESTRO SITIO WEB, PARA DETERMINAR
    QUÉ ÁREAS DE NUESTRO SITIO WEB SE VISITAN Y CUÁNTO TIEMPO PASA CADA
    VISITANTE. ESTA INFORMACIÓN NOS AYUDA A COMPRENDER LOS PATRONES DE TRÁFICO
    DE LAS VISITAS MEDIANTE NUESTRO SERVICIO Y SITIO WEB PARA QUE PODAMOS
    MEJORAR EL USO GLOBAL DE NUESTRO SITIO WEB. SU ORDENADOR PROPORCIONA ESTA
    INFORMACIÓN AUTOMÁTICAMENTE CADA VEZ QUE SE CONECTA, SALVO QUE TENGA
    ACTIVADA ALGUNA TECNOLOGÍA DE BLOQUEO DISPONIBLE EN ALGUNOS NAVEGADORES.
  </p>
  <p>
    ● INFORMACIÓN DEL DISPOSITIVO. PODEMOS RECOPILAR INFORMACIÓN CONCRETA DEL
    DISPOSITIVO COMO SU MODELO DE HARDWARE, VERSIÓN DEL SISTEMA OPERATIVO E
    IDENTIFICADORES ÚNICOS DEL DISPOSITIVO. TAMBIÉN PODRÍAMOS RECOPILAR Y
    ALMACENAR INFORMACIÓN (INCLUIDA LA INFORMACIÓN PERSONAL) DE FORMA LOCAL EN
    SU DISPOSITIVO UTILIZANDO MECANISMOS COMO ALMACENAMIENTO DE NAVEGADOR WEB
    (INCLUIDO HTML 5) Y CACHÉS DE DATOS DE APLICACIÓN.
  </p>
  <p>
    ● COOKIES. AL IGUAL QUE MUCHOS SITIOS WEB ACTUALES, PODEMOS UTILIZAR UNA
    TECNOLOGÍA ESTÁNDAR DENOMINADA COOKIES PARA RECOPILAR INFORMACIÓN SOBRE CÓMO
    UTILIZA NUESTRO SITIO WEB PARA PROPORCIONARLE UNA MEJOR EXPERIENCIA MIDIENDO
    QUÉ ÁREAS DE NUESTRO SITIO WEB OFRECEN MAYOR INTERÉS O PARA RECORDARLE
    CUANDO VUELVA A VISITARNOS. NO DESEAMOS NI PRETENDEMOS VIOLAR SU PRIVACIDAD
    MIENTRAS VISITA NUESTRO SITIO WEB. LA MAYORÍA DE LOS NAVEGADORES LE
    PERMITIRÁN ELIMINAR COOKIES DEL DISCO DURO DE SU ORDENADOR, BLOQUEAR LA
    ACEPTACIÓN DE COOKIES O RECIBIR UN AVISO ANTES DE GUARDAR UNA COOKIE. PUEDE
    OPTAR POR CONFIGURAR SU NAVEGADOR PARA QUE LE INFORME CUANDO RECIBA UNA
    COOKIE, PERMITIÉNDOLE ELEGIR SI RECHAZAR O ACEPTARLA. LAS COOKIES LAS PUEDEN
    UTILIZAR TAMBIÉN EMPRESAS ANUNCIANTES DE TERCEROS CUANDO PONEN ANUNCIOS EN
    NUESTRO SITIO WEB, Y ESTAS COOKIES AYUDAN A CONTROLAR QUÉ ANUNCIOS PONEN.
    ESTAS EMPRESAS ANUNCIANTES PUEDEN UTILIZAR COOKIES PARA RECOPILAR
    INFORMACIÓN CON LA QUE NO SE LE PUEDA ASOCIAR INDIVIDUALMENTE. LOS
    ANUNCIANTES UTILIZAN ESTA INFORMACIÓN PARA DIRIGIR SUS ANUNCIOS Y MEDIR SU
    IMPACTO.
  </p>
  <p>
    ● INFORMACIÓN PERSONAL. AUNQUE GENERALMENTE NO LE SOLICITAREMOS QUE NOS
    PROPORCIONE INFORMACIÓN QUE PODRÍA IDENTIFICARLE PARA VISITAR, ACCEDER O
    UTILIZAR NUESTRO SITIO WEB, EN OCASIONES PUEDE QUE LE PIDAMOS QUE NOS
    PROPORCIONE INFORMACIÓN PERSONAL ASOCIADA A INFORMACIÓN QUE PODRÍA
    IDENTIFICARLE, COMO DIRECCIÓN DE CORREO ELECTRÓNICO, NOMBRE, DIRECCIÓN
    POSTAL, NÚMERO DE TELÉFONO, NÚMERO DE TARJETA DE CRÉDITO, PAÍS, IDIOMA,
    INFORMACIÓN DEMOGRÁFICA O UNA IDENTIFICACIÓN PERSISTENTE (COMO UN NOMBRE DE
    USUARIO Y CONTRASEÑA). ESTA INFORMACIÓN LE PERMITIRÁ CREAR UN IDENTIFICADOR
    ACERID, HACER COMPRAS, REGISTRAR PRODUCTOS, RECIBIR AYUDA, MANTENER
    CORRESPONDENCIA CON NOSOTROS, PARTICIPAR EN ENCUESTAS EN LÍNEA, SUSCRIBIRSE
    A LISTAS DE CORREO O BOLETINES INFORMATIVOS, O INSCRIBIRSE EN DESCUENTOS
    ESPECIALES PARA COMPRAS. NO SOLICITAMOS QUE NOS PROPORCIONE INFORMACIÓN
    PERSONAL CONFIDENCIAL (COMO INFORMACIÓN SOBRE SU SALUD, ORIENTACIÓN SEXUAL,
    CREENCIAS POLÍTICAS O RELIGIOSAS, CARGOS U ACTOS DELICTIVOS), Y LE PEDIMOS
    QUE NO NOS PROPORCIONE DICHA INFORMACIÓN. CUALQUIER INFORMACIÓN AL RESPECTO
    QUE NOS PROPORCIONE DE MANERA VOLUNTARIA SOLO SE UTILIZARÁ DE CONFORMIDAD
    CON ESTA POLÍTICA DE PRIVACIDAD.
  </p>
  <p>
    IDENTIFICADOR ACERID. CON EL FIN DE PERMITIRLE CREAR UN IDENTIFICADOR
    ACERID, NECESITAMOS RECOPILAR Y PROCESAR LA SIGUIENTE INFORMACIÓN: DIRECCIÓN
    DE CORREO ELECTRÓNICO, NOMBRE, APELLIDOS, IDENTIFICADOR DE INICIO DE SESIÓN
    EN REDES SOCIALES (COMO EL IDENTIFICADOR DE FACEBOOK Y EL DE GOOGLE), PAÍS E
    IDIOMA. ESTA INFORMACIÓN ES LA MÍNIMA Y, POR TANTO, NECESARIA PARA
    PERMITIRLE CREAR UN IDENTIFICADOR ACERID. UNA VEZ CREADO EL IDENTIFICADOR
    ACERID, PUEDE ADEMÁS COMPLETAR SU PERFIL PROPORCIONANDO INFORMACIÓN
    ADICIONAL, COMO SU NÚMERO DE TELÉFONO, DIRECCIÓN, LOS DATOS NECESARIOS PARA
    REGISTRAR UN PRODUCTO ACER, ETC. TAMBIÉN PUEDE CONFIGURAR SU PERFIL PERSONAL
    PARA RECIBIR EL BOLETÍN INFORMATIVO DE ACER, DEL CUAL PODRÁ CANCELAR SU
    SUBSCRIPCIÓN EN CUALQUIER MOMENTO.
  </p>
  <p>
    BOLETÍN INFORMATIVO DE ACER. TAMBIÉN PUEDE SELECCIONAR LA OPCIÓN DE RECIBIR
    NUESTRO BOLETÍN DE NOTICIAS SIN CREAR UN IDENTIFICADOR ACER. A ESTE
    RESPECTO, LA ÚNICA INFORMACIÓN QUE RECOPILAMOS Y PROCESAMOS ES SU DIRECCIÓN
    DE CORREO ELECTRÓNICO, PAÍS E IDIOMA, LOS CUALES SON NECESARIOS PARA
    ENVIARLE NUESTRO BOLETÍN INFORMATIVO.
  </p>
  <p>QUÉ HACEMOS CON LA INFORMACIÓN PERSONAL:</p>
  <p>
    LA INFORMACIÓN PERSONAL QUE NOS PROPORCIONA SE PUEDE UTILIZAR PARA DAR
    SOPORTE A SU RELACIÓN COMO CLIENTE DE ACER. QUEREMOS UTILIZAR ESTA
    INFORMACIÓN PARA PERSONALIZAR SU EXPERIENCIA EN NUESTRA WEB Y CON NOSOTROS
    EN GENERAL. NO RECOPILAMOS O UTILIZAMOS LA INFORMACIÓN PERSONAL QUE NOS
    ENVÍA PARA NINGÚN FIN QUE NO ESTÉ RELACIONADO, EXCEPTO CUANDO ASÍ LO OBLIGUE
    O TENGAMOS PERMISO EXPRESO POR PARTE DE LA LEGISLACIÓN LOCAL SIN INFORMARLE
    DE ANTEMANO O SIN OBTENER SU CONSENTIMIENTO EXPRESO.
  </p>
  <p>
    SU INFORMACIÓN PERSONAL SE RECOPILA Y POSTERIORMENTE SE PROCESA CON LOS
    SIGUIENTES FINES:
  </p>
  <p>
    ● PARA CUMPLIR DETERMINADAS SOLICITUDES REALIZADAS POR USTED, COMO POR
    EJEMPLO, PARA PERMITIRLE CREAR UN IDENTIFICADOR ACER ID Y PARA CONCEDERLE
    ACCESO A UN CONJUNTO DE SERVICIOS RELACIONADOS (COMO REGISTRAR SU
    DISPOSITIVO ACER, CREAR UN UNIVERSO PROPIO EN LA NUBE CON ABAPPS Y RECIBIR
    ASISTENCIA TÉCNICA). PARA REALIZAR EL PROCESAMIENTO DE SUS DATOS PERSONALES
    CON ESTE PROPÓSITO, NO ES NECESARIO SU CONSENTIMIENTO PREVIO.
  </p>
  <p>
    ● CON FINES DE MARKETING. SALVO QUE NOS INDIQUE LO CONTRARIO (SEGÚN SE
    DESCRIBE A CONTINUACIÓN), LE ENVIAREMOS INFORMACIÓN SOBRE DIFERENTES MEJORAS
    DE PRODUCTOS, OFERTAS ESPECIALES Y OTROS PRODUCTOS Y NUEVOS SERVICIOS DE
    ACER QUE CONSIDEREMOS PODRÍAN SER DE SU INTERÉS. ESOS CORREOS DIRECTOS SE
    LOS ENVIARÁN SOLAMENTE ACER (O ALGUNOS AGENTES QUE TRABAJEN EN NOMBRE DE
    ACER). SI NO DESEA RECIBIR DICHOS CORREOS, SIMPLEMENTE DEBE DECÍRNOSLO AL
    FACILITARNOS SU INFORMACIÓN PERSONAL. TAMBIÉN PUEDE DECIDIR EN CUALQUIER
    MOMENTO QUE NO DESEA RECIBIR MÁS CORREOS ELECTRÓNICOS PONIÉNDOSE EN CONTACTO
    CON ACER; CONSULTE LA SIGUIENTE SECCIÓN PARA DARSE DE BAJA.
  </p>
  <p>
    SI LA LEGISLACIÓN APLICABLE ASÍ LO REQUIERE, LE ENVIAREMOS DICHOS MENSAJES
    DE CORREO DIRECTOS ÚNICAMENTE SI NOS DA SU CONSENTIMIENTO EXPRESO
    (OPCIONAL). SI NOS LO HA DADO, PERO YA NO QUIERE RECIBIR DICHOS MENSAJES DE
    CORREO, BASTA CON QUE NOS LO NOTIFIQUE LA PRÓXIMA VEZ QUE RECIBA EL BOLETÍN
    INFORMATIVO MEDIANTE EL “PROCEDIMIENTO DE CANCELACIÓN DE LA SUBSCRIPCIÓN”
    QUE SE ENCUENTRA DISPONIBLE EN EL BOLETÍN. TAMBIÉN PUEDE DECIDIR EN
    CUALQUIER MOMENTO QUE NO DESEA RECIBIR MÁS CORREOS ELECTRÓNICOS PONIÉNDOSE
    EN CONTACTO CON ACER; CONSULTE LA SIGUIENTE SECCIÓN PARA DARSE DE BAJA.
  </p>
  <p>
    TAMBIÉN PODRÍAMOS UTILIZAR SU INFORMACIÓN PARA CUMPLIR CON LA LEY O PARA
    DEFENDERNOS ANTE RECLAMACIONES EN FUNCIÓN DE DICHA LEY, O CUANDO SEA
    NECESARIO EJERCER LEGÍTIMAMENTE LOS INTERESES Y NECESIDADES EMPRESARIALES DE
    ACER, EN CUYO CASO SE PRESTARÁ ESPECIAL ATENCIÓN PARA SALVAGUARDAR SUS
    DERECHOS Y PARA ASEGURAR UNA UTILIZACIÓN JUSTA, LEGAL Y PROPORCIONADA DE SU
    INFORMACIÓN PERSONAL.
  </p>
  <p>
    EN LA MEDIDA EN QUE LO PERMITA LA LEY, PODRÁ ACCEDER A, PROCESAR, ALMACENAR
    O TRANSFERIR LA INFORMACIÓN QUE NOS PROPORCIONE CUALQUIER MIEMBRO DEL GRUPO
    DE EMPRESAS ACER (O SUS SUBCONTRATISTAS) EN CUALQUIER LUGAR DEL MUNDO,
    INCLUYENDO PAÍSES EN LOS QUE USTED NO VIVA. ESTOS LUGARES INCLUYEN PAÍSES
    QUE NO ASEGUREN UN NIVEL ADECUADO DE PROTECCIÓN DE LA INFORMACIÓN PERSONAL.
    SE PUEDE ENCONTRAR UN LISTADO DE LAS ENTIDADES DE ACER (Y SUS OFICINAS
    REGISTRADAS CORRESPONDIENTES) QUE PUDIERAN RECIBIR SUS DATOS EN DICHOS
    LUGARES EN WWW.ACER-GROUP.COM/AG/EN/TW/CONTENT/OFFICE-LIST. ESTE USO PODRÁ
    CONTINUAR INCLUSO CUANDO DEJEN DE SER MIEMBROS DEL GRUPO DE EMPRESAS DE
    ACER. TODAS LAS EMPRESAS DE ACER QUE RECIBAN SU INFORMACIÓN PERSONAL LA
    UTILIZARÁN DE ACUERDO CON ESTA POLÍTICA DE PRIVACIDAD.
  </p>
  <p>
    ACER NO COMPARTIRÁ SU INFORMACIÓN PERSONAL CON NINGUNA ORGANIZACIÓN EXTERNA
    PARA USO CON FINES DE MARKETING O SOLICITUDES SIN SU CONSENTIMIENTO PREVIO .
    SU INFORMACIÓN PODRÁ SER COMPARTIDA CON AGENTES O CONTRATISTAS DE ACER CON
    EL FIN DE PROPORCIONAR SERVICIOS, PROCESAR TRANSACCIONES O REALIZAR ANÁLISIS
    ESTADÍSTICOS PARA ALGUNA EMPRESA DE ACER. POR EJEMPLO, SI NECESITAMOS
    ENVIARLE ALGO, DEBEMOS COMPARTIR SU NOMBRE Y DIRECCIÓN CON UNA EMPRESA
    TRANSPORTISTA. SOLO PROPORCIONAMOS A TERCERAS PARTES Y CONTRATISTAS LA
    CANTIDAD DE INFORMACIÓN MÍNIMA Y NECESARIA PARA REALIZAR EL SERVICIO O
    TRANSACCIÓN SOLICITADA.
  </p>
  <p>
    SU INFORMACIÓN SE PODRÁ REVELAR TAMBIÉN A UN TERCERO CUANDO SE OBLIGUE POR
    LEY O TENGA DERECHO A ELLO COMO, POR EJEMPLO, COMO RESPUESTA A UNA SOLICITUD
    DE UN GOBIERNO O AUTORIDAD REGULADORA O CON RELACIÓN A UN POSIBLE PROCESO
    LEGAL. ACER NO SE HACE RESPONSABLE DE LAS ACCIONES DE NINGÚN GOBIERNO O
    AUTORIDAD REGULADORA EN LO REFERENTE A SU INFORMACIÓN O DATOS.
  </p>
  <p>
    SI NOS FUSIONÁSEMOS CON, O SI CUALQUIER PARTE DEL GRUPO ACER FUESE ADQUIRIDA
    POR, OTRA EMPRESA (O ENTRASE EN NEGOCIACIONES PARA ELLO) PODRÍAMOS COMPARTIR
    SU INFORMACIÓN CON DICHO NEGOCIO Y SUS ASESORES, PERO SI LO HICIÉRAMOS, NOS
    ASEGURAREMOS DE QUE SE TOMAN LAS MEDIDAS PARA QUE SE PROTEJAN SUS DERECHOS
    CON RELACIÓN A SU INFORMACIÓN.
  </p>
  <p>DIRECTRICES PARA NIÑOS:</p>
  <p>
    ACER NO RECOPILARÁ A CONCIENCIA INFORMACIÓN DE CONTACTO EN LÍNEA DE NIÑOS O
    MENORES (SEGÚN DEFINAN LOS REQUISITOS LOCALES) Y SI TENEMOS CONSTANCIA DE
    QUE DISPONEMOS DE INFORMACIÓN PERSONAL SOBRE UN NIÑO O UN MENOR,
    ELIMINAREMOS DICHA INFORMACIÓN DE NUESTROS SISTEMAS. ACER ANIMA A LOS PADRES
    O TUTORES (U OTRO REPRESENTANTE LEGAL) A QUE COMPARTAN TIEMPO EN LÍNEA CON
    SUS HIJOS Y A QUE PARTICIPEN EN SUS ACTIVIDADES EN LÍNEA. LOS NIÑOS O
    MENORES SOLO PUEDEN UTILIZAR LOS SERVICIOS DE TRANSACCIONES DE VENTAS CON EL
    CONSENTIMIENTO Y PAGO DE LA TRANSACCIÓN POR PARTE DE UN PROGENITOR O TUTOR
    (O HASTA DONDE LES PERMITA LA LEY EN VIGOR). SI USTED ES UN NIÑO O UN MENOR,
    SE LE REQUIERE QUE OBTENGA PERMISO DE SUS PADRES O TUTORES PARA COMPLETAR
    CIERTAS TRANSACCIONES EN ESTE SITIO WEB.
  </p>
  <p>USUARIOS DE FUERA DE LOS ESTADOS UNIDOS:</p>
  <p>
    SI ESTÁ VISITANDO NUESTRA PÁGINA WEB DESDE FUERA DE LOS ESTADOS UNIDOS O SI
    SE PONE EN CONTACTO CON NOSOTROS DE ALGUNA OTRA MANERA DESDE FUERA DE LOS
    ESTADOS UNIDOS, LE ADVERTIMOS DE QUE SE PODRÁ TRANSFERIR, ALMACENAR O
    PROCESAR SU INFORMACIÓN PERSONAL EN LOS ESTADOS UNIDOS, DONDE SE ENCUENTRAN
    LA MAYORÍA DE NUESTROS SERVIDORES. PUEDE QUE LAS LEYES DE PROTECCIÓN DE
    DATOS Y OTRAS LEYES DE LOS ESTADOS UNIDOS U OTROS PAÍSES NO SEAN TAN
    EXHAUSTIVAS COMO LAS DE SU PAÍS, PERO LE ASEGURAMOS QUE TOMAMOS MEDIDAS PARA
    PROTEGER SU PRIVACIDAD. AL UTILIZAR NUESTRO SERVICIO, COMPRENDE QUE SU
    INFORMACIÓN PODRÍA SER TRANSFERIDA A NUESTRAS INSTALACIONES Y A TERCEROS CON
    LOS QUE COMPARTIMOS DICHA INFORMACIÓN DE CONFORMIDAD CON ESTA POLÍTICA DE
    PRIVACIDAD.
  </p>
  <p>USUARIOS DE LA UNIÓN EUROPEA:</p>
  <p>
    CUANDO LA INFORMACIÓN QUE PROPORCIONE SEA TRANSFERIDA POR UNA EMPRESA DE
    ACER DENTRO DE LA UNIÓN EUROPEA (“UE”) O SUIZA A CUALQUIER EMPRESA O AGENTE
    DE ACER FUERA DE LA UE O SUIZA, SE TOMARÁN LAS MEDIDAS PARA PROTEGER
    ADECUADAMENTE SUS DERECHOS CON RELACIÓN A SU INFORMACIÓN. TENGA EN CUENTA
    QUE ESTA POLÍTICA DE PRIVACIDAD NO SE APLICA A LA INFORMACIÓN O DATOS QUE
    GUARDE EN LOS SERVICIOS DE ALMACENAJE EN LA NUBE EN CASO DE QUE LA
    INFORMACIÓN Y DATOS SE ALMACENEN EN UN SERVIDOR FUERA DE EUROPA. EN TAL
    CASO, USTED SERÁ EL ÚNICO RESPONSABLE Y ASUMIRÁ TODOS LOS RIESGOS
    RELACIONADOS CON EL ALMACENAMIENTO DE SUS DATOS FUERA DE EUROPA.
  </p>
  <p>USUARIOS DE TAIWÁN:</p>
  <p>
    SI USTED ES UN USUARIO DE TAIWÁN, QUEREMOS SEÑALAR LO SIGUIENTE DE ACUERDO
    CON LA LEY Y REGLAMENTOS RELEVANTES EN TAIWÁN:
  </p>
  <p>
    ● CONSERVAREMOS Y, CUANDO SEA NECESARIO, UTILIZAREMOS SUS DATOS PERSONALES
    DESDE EL MOMENTO EN QUE SE REGISTRE COMO USUARIO DE NUESTROS SERVICIOS EN LA
    NUBE POR CUALQUIER MEDIO HASTA QUE NOS PIDA QUE LOS ELIMINEMOS. EL ALCANCE
    GEOGRÁFICO DE NUESTRO USO DE SUS DATOS PERSONALES ESTARÁ LIMITADO A TAIWÁN,
    LA JURISDICCIÓN DONDE USTED SE ENCUENTRA Y EL LUGAR DONDE OPERA LA
    SUBSIDIARIA DE ACER ÚNICAMENTE.
  </p>
  <p>
    ● USTED PUEDE EJERCER LOS SIGUIENTES DERECHOS CON RESPECTO A SUS DATOS
    PERSONALES SEGÚN LO DISPUESTO EN LA LEY DE PROTECCIÓN DE DATOS PERSONALES:
  </p>
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;●UNA PETICIÓN O SOLICITUD PARA REVISAR LA
    INFORMACIÓN PERSONAL (SE PODRÍA INCURRIR EN GASTOS DEPENDIENDO DE CADA CASO)
  </p>
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;●UNA SOLICITUD PARA OBTENER COPIAS DE LA INFORMACIÓN
    PERSONAL (SE PODRÍA INCURRIR EN GASTOS DEPENDIENDO DE CADA CASO)
  </p>
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;●UNA SOLICITUD PARA AÑADIR A O CORREGIR LA
    INFORMACIÓN PERSONAL;
  </p>
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;●UNA SOLICITUD PARA DEJAR DE RECOPILAR, PROCESAR O
    UTILIZAR SU INFORMACIÓN PERSONAL
  </p>
  <p>&nbsp;&nbsp;●UNA SOLICITUD PARA BORRAR LA INFORMACIÓN PERSONAL.</p>
  <p>
    ● LOS SERVIDORES QUE PROPORCIONAN SERVICIOS ONLINE PROCESAN Y ALMACENAN UNA
    CANTIDAD ENORME DE INFORMACIÓN CADA DÍA Y MANTIENEN UN SEGUIMIENTO DE TODO
    EL PROCESAMIENTO REALIZADO. ESTOS ARCHIVOS INFORMÁTICOS SE LLAMAN “FICHEROS
    HISTÓRICOS”. DESPUÉS DE PROCESAR LA INFORMACIÓN CONTENIDA EN LOS FICHEROS
    HISTÓRICOS, SE ALMACENA Y CUALQUIER ACCESO POSTERIOR A ELLA SE BLOQUEA. LA
    INFORMACIÓN DE SU CUENTA PUEDE PERMANECER EN NUESTROS FICHEROS HISTÓRICOS
    ACTIVOS DEL SERVIDOR HASTA QUE LA INFORMACIÓN SE ALMACENE.
  </p>
  <p>
    ● SI USTED SE NIEGA A PROPORCIONARNOS SUS DATOS PERSONALES, O SI NOS PIDE
    QUE DEJEMOS DE UTILIZARLOS, PROCESARLOS Y USARLOS O NOS PIDE QUE LOS
    ELIMINEMOS, NO PODREMOS CONTACTARLE EN RELACIÓN CON ASUNTOS RELEVANTES
    RELACIONADOS CON NUESTRO SERVICIO, NI MANTENER UN ARCHIVO PARA PETICIONES
    FUTURAS, PROPORCIONARLE LA INFORMACIÓN MÁS RECIENTE SOBRE NUESTRO SERVICIO
    NI REALIZAR ENCUESTAS DE OPINIONES DE LOS CLIENTES, Y PUEDE QUE NO
    CONTINUEMOS CON NUESTRO SERVICIO Y NO SEREMOS RESPONSABLES DE LAS PÉRDIDAS
    QUE ESTO PUEDA CAUSAR.
  </p>
  <p>
    ● EN CASO DE QUE LOS DATOS PERSONALES QUE NOS PROPORCIONE SEAN INSUFICIENTES
    PARA CONFIRMAR LA AUTENTICIDAD DE SU IDENTIDAD, O SEAN EL RESULTADO DE UNA
    IDENTIDAD FALSA O UNA IDENTIDAD ROBADA O QUE NO ES REAL, TENDREMOS DERECHO A
    DAR POR TERMINADO NUESTRO SERVICIO CON USTED. NOS DISCULPAMOS POR CUALQUIER
    INCONVENIENCIA QUE ESTO PUEDA CAUSARLE, SI OCURRE.
  </p>
  <p>USO Y DIVULGACIÓN DE INFORMACIÓN ANÓNIMA AGREGADA:</p>
  <p>
    ACER PODRÁ RECOPILAR, AGREGAR Y MANTENER INFORMACIÓN ANÓNIMA SOBRE NUESTROS
    CLIENTES Y LOS VISITANTES EN LÍNEA A NUESTRO SITIO WEB COMO, POR EJEMPLO,
    LAS AFICIONES, LOS INTERESES, LOS HÁBITOS DE COMPRA Y SIMILARES DE NUESTROS
    VISITANTES. ESTOS DATOS SE PODRÁN UTILIZAR PARA PERSONALIZAR NUESTRO
    CONTENIDO Y PUBLICIDAD PARA PROPORCIONAR UNA MEJOR EXPERIENCIA PARA NUESTROS
    VISITANTES. ADEMÁS, ACER PODRÁ COMPARTIR TAMBIÉN DICHA INFORMACIÓN AGREGADA
    SOBRE NUESTROS VISITANTES CON ANUNCIANTES, SOCIOS EMPRESARIALES,
    PATROCINADORES Y TERCEROS COMO, POR EJEMPLO, PARA INFORMARLES SOBRE EL
    PORCENTAJE DE VISITANTES MASCULINOS/FEMENINOS O PORCENTAJE DE VISITANTES
    DENTRO DE UN RANGO CONCRETO DE EDAD.
  </p>
  <p>MEDIDAS DE SEGURIDAD:</p>
  <p>
    PROTEGEMOS LA INFORMACIÓN PERSONAL QUE COMPARTE CON NOSOTROS. EN ACER, EL
    ACCESO A SU INFORMACIÓN PERSONAL QUEDA LIMITADO A LAS PERSONAS QUE LA
    NECESITAN PARA REALIZAR SU TRABAJO. NUESTRA POLÍTICA ES LA DE MANTENER LA
    INTEGRIDAD DE CUALQUIER INFORMACIÓN PERSONAL QUE ESTÉ EN NUESTRA POSESIÓN.
    PARA PREVENIR BRECHAS EN LA SEGURIDAD, ACER UTILIZA MUCHAS TÉCNICAS DE
    SEGURIDAD, COMO CIFRADOS SET O EL CIFRADO ESTÁNDAR DEL SECTOR DE CAPA DE
    CONEXIÓN SEGURA (SSL) PARA LA TRANSMISIÓN DE INFORMACIÓN DE TARJETAS DE
    CRÉDITO O CUANDO SE NECESITE INFORMACIÓN PERSONAL, PARA PROTEGER CUALQUIER
    INFORMACIÓN PERSONAL FRENTE A ACCESOS POR PARTE DE USUARIOS NO AUTORIZADOS,
    SIN EMBARGO, NO PODEMOS GARANTIZAR Y NO GARANTIZAMOS SEGURIDAD EN INTERNET.
  </p>
  <p>CONSULTAS O PREGUNTAS-SUS DERECHOS:</p>
  <p>
    TIENE LOS SIGUIENTES DERECHOS RELACIONADOS CON EL PROCESAMIENTO DE SUS DATOS
    PERSONALES:
  </p>
  <p>
    ● TIENE DERECHO A OBTENER UNA CONFIRMACIÓN SOBRE SI SE HAN PROCESADO O NO
    SUS DATOS, ASÍ COMO A CONOCER QUÉ DATOS PERSONALES SE HAN PROCESADO.
  </p>
  <p>
    ● TIENE EL DERECHO A SER INFORMADO DE (I) LA FUENTE DE SUS DATOS PERSONALES;
    (II) EL PROPÓSITO Y LOS MÉTODOS DE PROCESAMIENTO; (III) LA IDENTIDAD DE
    QUIEN CONTROLA DICHA INFORMACIÓN; Y (IV) LAS TERCERAS ENTIDADES O CATEGORÍAS
    DE ENTIDADES A QUIENES SE PUEDA COMUNICAR DICHA INFORMACIÓN PERSONAL.
  </p>
  <p>
    ● TIENE DERECHO A OBTENER: (I) UNA ACTUALIZACIÓN, RECTIFICACIÓN O
    INTEGRACIÓN DE SU INFORMACIÓN; Y (II) UNA ELIMINACIÓN, BLOQUEO O QUE SE
    HAGAN ANÓNIMOS SUS DATOS SI SE PROCESAN DE MANERA ILEGAL.
  </p>
  <p>
    ● TIENE EL DERECHO A OBJETAR, EN SU TOTALIDAD O DE MANERA PARCIAL (I) CON
    BASE LEGAL, EL PROCESAMIENTO DE SUS DATOS PERSONALES, INCLUSO SI LA
    INFORMACIÓN ES RELEVANTE PARA EL FIN DE LA RECOGIDA DE DATOS; Y (II) EL
    PROCESAMIENTO DE SUS DATOS DE INFORMACIÓN PERSONAL, CUANDO SE REALICE CON LA
    INTENCIÓN DE ENVIAR DE MATERIALES DE PUBLICIDAD, VENTA DIRECTA, O PARA LA
    REALIZACIÓN DE ENCUESTAS DE MERCADO O COMERCIALES.
  </p>
  <p>
    SI TIENE PREGUNTAS O PREOCUPACIONES SOBRE LAS POLÍTICAS Y PRÁCTICAS DE ACER
    PARA EL TRATAMIENTO DE INFORMACIÓN PERSONAL RECIBIDA A TRAVÉS DE ESTE
    SERVICIO EN LÍNEA, PÓNGASE EN CONTACTO CON PRIVACY_OFFICER@ACER.COM.
    OPCIONALMENTE, PARA UNA SOLICITUD CONCRETA Y/O CONSULTAS SOBRE TRATAMIENTOS
    DE DATOS A NIVEL LOCAL, ROGAMOS CONTACTE CON LA ENTIDAD DE ACER A LA QUE
    ENVIÓ LA INFORMACIÓN. PUEDE ENCONTRAR LAS DIRECCIONES DE CADA ENTIDAD DE
    ACER EN WWW.ACER-GROUP.COM/AG/EN/TW/CONTENT/OFFICE-LIST. PARA QUE PODAMOS
    PRESTARLE UN SERVICIO LO MÁS RÁPIDO POSIBLE, ROGAMOS ENVÍE SUS CONSULTAS SI
    FUERA POSIBLE EN INGLÉS Y NOS INDIQUE EL PAÍS DESDE EL QUE NOS ESTÁ
    CONTACTANDO, JUNTO CON UNA DESCRIPCIÓN DE LA MARCA Y MODELO DE SUS PRODUCTOS
    (SI PROCEDIERA).
  </p>
  <p>CÓMO CANCELAR NUESTRO USO DE SU INFORMACIÓN PERSONAL:</p>
  <p>
    USTED PODRÁ EN CUALQUIER MOMENTO CANCELAR EL USO DE SU INFORMACIÓN PERSONAL
    CONTACTANDO CON ACER. RETIRAREMOS SU INFORMACIÓN PERSONAL DE NUESTRAS BASES
    DE DATOS LO ANTES POSIBLE.
  </p>
  <p>ENLACES EXTERNOS:</p>
  <p>
    OTROS SITIOS WEB QUE ESTÉN ENLAZADOS CON/DESDE NUESTRO SITIO WEB PUEDEN
    TENER POLÍTICAS DIFERENTES. ACER NO COMPARTE INFORMACIÓN PERSONAL RECOPILADA
    CON ESOS SITIOS Y NO SE HACE RESPONSABLE DE LA INFORMACIÓN O CONTENIDOS DE
    DICHOS SITIOS WEB. LE ANIMAMOS A REVISAR LAS POLÍTICAS DE PRIVACIDAD QUE SE
    PUBLIQUEN EN DICHOS SITIOS PARA OBTENER DETALLES. ACER NI GARANTIZA NI
    RESPALDA INFORMACIÓN O POLÍTICAS DADAS EN SITIOS WEB QUE NO ESTÉN BAJO EL
    CONTROL DE ACER.
  </p>
  <p>POLÍTICA DE USO; CAMBIOS EN LA POLÍTICA DE PRIVACIDAD:</p>
  <p>
    ESTA POLÍTICA SERÁ REDACTADA EN VARIOS IDIOMAS. EN CASO DE INCONSISTENCIAS
    EN ESTA POLÍTICA ENTRE LA VERSIÓN INGLESA Y CUALQUIER OTRA VERSIÓN, LA
    VERSIÓN INGLESA PREVALECERÁ. LAS CONDICIONES DE ESTA POLÍTICA DE PRIVACIDAD
    REGIRÁN EL USO Y RECOPILACIÓN DE CUALQUIER INFORMACIÓN MIENTRAS SEA DE
    APLICACIÓN. ACER SE RESERVA EL DERECHO A CAMBIAR ESTA POLÍTICA DE PRIVACIDAD
    EN CUALQUIER MOMENTO Y POR TANTO LE ANIMAMOS A QUE COMPRUEBE NUESTRO SITIO
    WEB DE MANERA PERIÓDICA PARA ACTUALIZACIONES. LOS CAMBIOS A ESTA POLÍTICA DE
    PRIVACIDAD ENTRARÁN EN VIGOR EN EL MOMENTO EN QUE SE PUBLIQUEN EN EL SITIO
    WEB.
  </p>
  <p>PREGUNTAS:</p>
  <p>
    SI TIENE PREGUNTAS O COMENTARIOS RELACIONADOS CON ESTA POLÍTICA DE
    PRIVACIDAD O CON NUESTRO SITIO WEB, PÓNGASE EN CONTACTO CON NOSOTROS EN:
    PRIVACY_OFFICER@ACER.COM. PARA QUE PODAMOS PRESTARLE UN SERVICIO LO MÁS
    RÁPIDO POSIBLE, ROGAMOS ENVÍE SUS CONSULTAS SI FUERA POSIBLE EN INGLÉS Y NOS
    INDIQUE EL PAÍS DESDE EL QUE NOS ESTÁ CONTACTANDO, JUNTO CON UNA DESCRIPCIÓN
    DE LA MARCA Y MODELO DE SUS PRODUCTOS (SI PROCEDIERA).
  </p>
  <h1>BANCO RIPLEY S.A. y TIENDAS RIPLEY</h1>
  <p>
    EL CLIENTE AUTORIZA Y OTORGA A BANCO RIPLEY S.A. Y TIENDAS RIPLEY POR TIEMPO
    INDEFINIDO, SU CONSENTIMIENTO LIBRE, PREVIO, EXPRESO, INEQUÍVOCO E INFORMADO
    PARA QUE (POR SÍ MISMO O A TRAVÉS DE TERCEROS) RECOPILE, REGISTRE, ORGANICE,
    ALMACENE, CONSERVE, ELABORE, MODIFIQUE, BLOQUEE, SUPRIMA, EXTRAIGA,
    CONSULTE, UTILICE, TRANSFIERA, EXPORTE, IMPORTE O PROCESE (TRATE) DE
    CUALQUIER OTRA FORMA SUS DATOS PERSONALES, CONFORME A LEY, PUDIENDO ELABORAR
    BASES DE DATOS (BANCOS DE DATOS) CON SU INFORMACIÓN TANTO PROPORCIONADA,
    COMO RECOPILADA A TRAVÉS DE TERCEROS O GENERADA POR EL BANCO COMO
    CONSECUENCIA DEL CUMPLIMIENTO DE LAS RELACIONES CONTRACTUALES Y/O
    COMERCIALES QUE MANTENGA CON EL CLIENTE, CON LA FINALIDAD DE: (I) OTORGARLE
    EL PRODUCTO Y/O SERVICIO SOLICITADO; ENVIARLE INFORMACIÓN OFERTAS
    COMERCIALES Y PUBLICIDAD RELACIONADA AL PRODUCTO Y/O SERVICIO; Y/O (II)
    OFRECERLE OTROS PRODUCTOS Y/O SERVICIOS Y/O OFERTAS, Y/O PUBLICIDAD E
    INFORMACIÓN EN GENERAL, ENTRE OTROS, DE BANCO RIPLEY S.A. Y/O CUALQUIER OTRA
    EMPRESA QUE PERTENEZCA O QUE PUEDA PERTENECER EN EL FUTURO AL GRUPO RIPLEY,
    DOMICILIADA O NO EN EL PAÍS, (DIRECTAMENTE Y/O A TRAVÉS DE TERCERAS
    VINCULADAS O NO VINCULADAS);Y/O (III) EVALUAR SU CALIDAD CREDITICIA Y
    CAPACIDAD DE PAGO, ASÍ COMO DE SER EL CASO, EFECTUAR LAS GESTIONES DE
    RECUPERACIÓN O COBRANZA; Y/O (IV) EVALUAR CUALQUIER SOLICITUD QUE EFECTÚE EN
    EL PRESENTE Y/O FUTURO Y/O; (V) ALMACENAR Y TRATAR SUS DATOS PERSONALES, CON
    FINES ESTADÍSTICOS Y/O HISTÓRICOS PARA EL BANCO RIPLEY S.A. O TERCERAS
    VINCULADAS O NO VINCULADAS Y/O CUALQUIER OTRA EMPRESA QUE PERTENEZCA O QUE
    PUEDA PERTENECER EN EL FUTURO AL GRUPO RIPLEY.
  </p>
  <p>
    ESTA AUTORIZACIÓN ES POR TIEMPO INDEFINIDO Y ESTARÁ VIGENTE INCLUSIVE
    DESPUÉS DEL VENCIMIENTO DE LAS OPERACIONES, Y/O DE LAS RELACIONES
    CONTRACTUALES Y/O COMERCIALES QUE EL CLIENTE MANTENGA O PUDIERA MANTENER CON
    BANCO RIPLEY S.A.. EL CLIENTE, DECLARA HABER SIDO INFORMADO DE QUE EN CASO
    NO OTORGUE ESTE CONSENTIMIENTO, SU INFORMACIÓN SOLO SERÁ UTILIZADA (TRATADA)
    PARA LA EJECUCIÓN (DESARROLLO) Y CUMPLIMIENTO DE LAS RELACIONES
    CONTRACTUALES Y/O COMERCIALES QUE MANTENGA CON BANCO RIPLEY S.A.
  </p>
  <p>
    BANCO RIPLEY S.A SE RESERVA EL DERECHO DE PODER COMPARTIR Y/O USAR Y/O
    ALMACENAR Y/O TRANSFERIR LA INFORMACIÓN A TERCERAS PERSONAS VINCULADAS O NO
    BANCO RIPLEY S.A, SEAN ESTOS SOCIOS COMERCIALES O NO DEL BANCO, NACIONALES O
    EXTRANJEROS, PÚBLICOS O PRIVADOS, CON EL OBJETO DE REALIZAR ACTIVIDADES
    RELACIONADAS AL CUMPLIMIENTO DE LAS FINALIDADES INDICADAS ANTERIORMENTE. EL
    CLIENTE DECLARA QUE HA SIDO INFORMADO(A) QUE PODRÁ REVOCAR EN CUALQUIER
    MOMENTO SU CONSENTIMIENTO, COMUNICANDO SU DECISIÓN POR ESCRITO EN CUALQUIERA
    DE LAS AGENCIAS DE BANCO RIPLEY S.A, LA CUAL NO AFECTARÁ EL USO DE SUS DATOS
    NI EL CONTENIDO DE LAS BASES DE DATOS (BANCO DE DATOS) PARA LA EJECUCIÓN Y/O
    CUMPLIMIENTO DE LAS RELACIONES CONTRACTUALES Y/O COMERCIALES QUE MANTENGA
    CON BANCO RIPLEY S.A.. BANCO RIPLEY S.A PODRÁ INFORMARLE A TRAVÉS DE SU
    PÁGINA WEB U OTROS MEDIOS DE COMUNICACIÓN, SOBRE OTROS CANALES PARA QUE EL
    CLIENTE PUEDA HACER EFECTIVA SU REVOCATORIA.
  </p>
  <p>
    ASIMISMO, EL CLIENTE DECLARA QUE HA SIDO INFORMADO QUE PODRÁ EJERCER SUS
    DERECHOS DE INFORMACIÓN, ACCESO, RECTIFICACIÓN, CANCELACIÓN Y OPOSICIÓN DE
    ACUERDO A LO DISPUESTO POR LA LEY DE PROTECCIÓN DE DATOS PERSONALES VIGENTE
    Y SU REGLAMENTO. BANCO RIPLEY S.A. PODRÁ INFORMARLE A TRAVÉS DE SU PÁGINA
    WEB U OTROS MEDIOS DE COMUNICACIÓN, SOBRE OTROS CANALES PARA QUE EL CLIENTE
    PUEDA HACER EFECTIVO EL EJERCICIO DE SUS DERECHOS.
  </p>
  <p>
    BANCO RIPLEY S.A. ES TITULAR Y RESPONSABLE DE LAS BASES DE DATOS (BANCOS DE
    DATOS) ORIGINADAS POR EL TRATAMIENTO DE LOS DATOS PERSONALES QUE RECOPILE
    Y/O TRATE Y DECLARA QUE HA ADOPTADO LOS NIVELES DE SEGURIDAD APROPIADOS PARA
    EL RESGUARDO DE LA INFORMACIÓN, DE ACUERDO A LEY. ASIMISMO, DECLARA QUE
    RESPETA LOS PRINCIPIOS DE LEGALIDAD, CONSENTIMIENTO, FINALIDAD,
    PROPORCIONALIDAD, CALIDAD, DISPOSICIÓN DE RECURSO, NIVEL DE PROTECCIÓN
    ADECUADO, CONFORME A LAS DISPOSICIONES DE LA LEY DE PROTECCIÓN DE DATOS
    VIGENTE EN PERÚ.
  </p>
  <!-- <app-gradient-button text="CERRAR" ></app-gradient-button> -->
</div>
