.container {
  background-color: white;
  color: black;
  padding: 5% 20%;
  text-align: justify;
  text-transform: uppercase;
  p {
    font-size: 0.8em;
    line-height: 2;
    margin: 0 0 3%;
  }
}
