<div class="multi-step-form">
  <label class="title">{{ title }}</label>
  <form [formGroup]="formGroup">
    <app-input
      formControlName="fullName"
      title="NOMBRES Y APELLIDOS"
      type="text"
    ></app-input>
    <div class="one-to-three-row">
      <app-input formControlName="age" title="EDAD" type="tel"></app-input>
      <app-input
        formControlName="birthdate"
        title="FECHA DE NACIMIENTO"
        type="date"
      ></app-input>
    </div>
    <app-input
      formControlName="steamUrl"
      title="URL DE STEAM"
      type="text"
    ></app-input>
    <div class="half-half-row">
      <app-input
        formControlName="steamId"
        title="ID STEAM(DNI DOTERO)"
        type="text"
      ></app-input>
      <app-input
        formControlName="discordId"
        title="ID DE DISCORD"
        type="text"
      ></app-input>
    </div>
    <app-input
      formControlName="email"
      title="CORREO ELECTRÓNICO"
      type="email"
    ></app-input>
    <app-input
      formControlName="phone"
      title="NÚMERO DE CONTACTO(#MÓVIL)"
      type="tel"
    ></app-input>
  </form>
  <div class="stepper">
    <label
      *ngIf="stepNumber !== 1"
      class="stepper__navegation"
      (click)="backStep()"
      >{{ "< ANTERIOR PLAYER" }}</label
    >
    <label class="stepper__number">{{ stepNumber }}/7</label>
    <label
      *ngIf="stepNumber !== 7"
      class="stepper__navegation"
      (click)="nextStep()"
      >{{ "SIGUIENTE PLAYER >" }}</label
    >
  </div>
  <app-gradient-button
    *ngIf="stepNumber >= 5"
    text="INSCRIBIRSE"
    (click)="register()"
  ></app-gradient-button>
</div>
