<div class="second-section">
  <img class="image" src="/assets/media/laptops.png" />
  <div class="overlay">
    <div class="content">
      <h1 class="title">NITRO 5</h1>
      <label class="subtitle">LA VERDADERA LAPTOP GAMER</label>
      <app-gradient-button text="VER PRODUCTO"></app-gradient-button>
    </div>
    <div class="bottom">
      <div class="features">
        <app-device-feature
          imageSrc="/assets/icons/ram-icon.png"
          firstText="8GB"
          secondText="DDR4"
        ></app-device-feature>
        <app-device-feature
          imageSrc="/assets/icons/ssd-icon.png"
          firstText="512GB"
          secondText="SSD"
        ></app-device-feature>
        <app-device-feature
          imageSrc="/assets/icons/tarjetavideo-icon.png"
          firstText="GEFORCE"
          secondText="GTX 1050"
        ></app-device-feature>
        <app-device-feature
          imageSrc="/assets/icons/procesador-icon.png"
          firstText="RYZEN 7"
          secondText="SERIE 3000"
        ></app-device-feature>
      </div>
      <img class="processors-logos" src="/assets/media/procesador-logo.png" />
    </div>
  </div>
</div>
