.second-section {
  background-image: url("/assets/media/bg-2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  .image {
    position: absolute;
    left: 0;
    right: 0;
    top: 15%;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    max-height: 90%;
    min-height: 240px;
    object-fit: cover;
  }
  .overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 89px 0 119px;
    width: 100%;
    z-index: 1;
    .content {
      align-items: center;
      display: flex;
      flex-direction: column;
      padding: 0 28px;
      app-gradient-button {
        margin: 1% 0 38%;
      }
      .title {
        background-image: linear-gradient(to top, #ffffff, #aaaaaa),
          linear-gradient(to bottom, #fefefe, #fefefe);
        background-clip: text;
        font-size: 3.5em;
        font-weight: bold;
        -webkit-text-fill-color: transparent;
        margin: 0;
      }
      .subtitle {
        font-size: 1.5em;
      }
      @media only screen and (max-width: 768px) {
        .title {
          font-size: 7.3vw;
        }
        .subtitle {
          font-size: 3.1vw;
        }
      }
    }
    .bottom {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .features {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 34px;
        app-device-feature {
          margin: 20px 10px;
        }
      }
      .processors-logos {
        height: 13.7vh;
        min-height: 100px;
        object-fit: contain;
        margin: auto 0;
      }
    }
  }
}
