.second-section {
  background-image: url("/assets/media/bg-2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  .image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: 45px auto auto;
    min-height: 240px;
    max-width: 1400px;
    object-fit: cover;
    width: 90vw;
  }
  .overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 45px 0 60px;
    width: 100%;
    z-index: 1;
    .content {
      align-items: center;
      display: flex;
      flex-direction: column;
      padding: 0 28px;
      app-gradient-button {
        margin: 1% 0 24%;
      }
      .logo-nitro {
        height: 10vh;
      }
    }
    .bottom {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .features {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 34px;
        app-device-feature {
          margin: 10px;
        }
      }
      .processors-logos {
        height: 13vh;
        max-height: 128px;
        object-fit: contain;
        margin: auto 0;
      }
    }
  }
  @media only screen and (max-width: 768px) {
    .image {
      margin-top: 37%;
    }
    .overlay {
      .content {
        app-gradient-button {
          margin-bottom: 55%;
        }
      }
    }
  }
}
