<div class="second-section">
  <img class="image" src="/assets/media/laptops.png" />
  <div class="overlay">
    <div class="content">
      <img
        class="logo-nitro"
        src="/assets/media/logo-nitro-5.png"
        alt="Nitro 5"
      />
      <app-gradient-button
        text="VER PRODUCTO"
        (click)="openProductInShop()"
      ></app-gradient-button>
    </div>
    <div class="bottom">
      <div class="features">
        <app-device-feature
          imageSrc="/assets/icons/ram-icon.png"
          firstText="16GB"
          secondText="DDR4"
        ></app-device-feature>
        <app-device-feature
          imageSrc="/assets/icons/ssd-icon.png"
          firstText="512GB"
          secondText="SSD"
        ></app-device-feature>
        <app-device-feature
          imageSrc="/assets/icons/tarjetavideo-icon.png"
          firstText="GEFORCE"
          secondText="GTX 1650"
        ></app-device-feature>
        <app-device-feature
          imageSrc="/assets/icons/procesador-icon.png"
          firstText="RYZEN 5"
          secondText="SERIE 4000"
        ></app-device-feature>
      </div>
      <img class="processors-logos" src="/assets/media/procesador-logo.png" />
    </div>
  </div>
</div>
