<div class="first-section">
  <video autoplay muted loop id="video" class="video">
    <source src="/assets/media/video.mp4" type="video/mp4" />
  </video>
  <div class="overlay" (scroll)="onWindowScroll($event)">
    <app-navbar class="animated fadeInDown" id="navbar"></app-navbar>
    <div class="content">
      <img class="logo" src="/assets/media/logo.png" />
      <div class="register-section">
        <h1 class="register-section__title">¿ESTÁN LISTOS?</h1>
        <app-gradient-button
          text="INSCRÍBETE YA"
          routerLink="/registro"
        ></app-gradient-button>
        <div class="register-section__description">
          <label>
            VIVE LA EMOCIÓN DEL
            <br />
            <b> #ACERCHALLENGEDOTAWARS </b>
            <br />
            ESTE 04 Y 05 DE SEPTIEMBRE
          </label>
        </div>
      </div>
    </div>
    <app-brands></app-brands>
  </div>
</div>
