<div class="first-section">
  <video autoplay muted loop id="video" class="video">
    <source src="/assets/media/video.mp4" type="video/mp4" />
  </video>
  <div class="overlay">
    <app-navbar></app-navbar>
    <div class="content">
      <img class="logo" src="/assets/media/logo.png" />
      <div class="register-section">
        <h1 class="register-section__title">¿ESTÁS LISTO?</h1>
        <app-gradient-button
          text="INSCRIBITE AQUÍ"
          routerLink="/registro"
        ></app-gradient-button>
        <div class="register-section__description">
          <label>
            BUSCA A TU EQUIPO Y COMPITE EN EL<br /><b>#ACERCHALLENGEDOTAWARS</b>
          </label>
        </div>
      </div>
    </div>
    <app-brands></app-brands>
  </div>
</div>
