<div class="acer first-section">
  <video autoplay muted loop id="video" class="video">
    <source src="/assets/media/video.webm" type="video/webm" />
  </video>
  <div class="overlay" (scroll)="onWindowScroll($event)">
    <app-navbar class="animated fadeInDown" id="navbar"></app-navbar>
    <div class="content">
      <img class="logo" src="/assets/media/logo.png" />
      <div class="register-section">
        <h1 class="register-section__title">¿ESTÁS LISTO?</h1>
        <app-gradient-button
          text="INSCRÍBETE YA"
          routerLink="/registro"
        ></app-gradient-button>
        <div class="register-section__description">
          <label>
            ¿LOGRARÁS VENCER A LEOSTLYLE
            <br />
            <b>EN ESTE 1VS1?</b>
            <br />
            ÚNETE Y PARTICIPA ESTE 19 Y 20 DE MARZO.
          </label>
        </div>
      </div>
    </div>
    <app-brands></app-brands>
  </div>
</div>
