.acer.first-section {
  position: relative;
  overflow: hidden;
  .video {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
  }
  .overlay {
    app-navbar {
      --background: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 2;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    min-height: 720px;
    app-brands {
      bottom: 0;
      position: absolute;
      margin-bottom: 28px;
      width: 100%;
    }
    .content {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 11% 0;
      padding-left: 28px;
      padding-right: 10%;
      .logo {
        max-width: 1200px;
        width: 55%;
      }
      .register-section {
        align-items: center;
        display: flex;
        flex-direction: column;
        text-align: center;
        &__title {
          background-image: -webkit-linear-gradient(#aaaaaa, #ffffff);
          background-clip: text;
          color: #ffffff;
          font-family: "Radiance";
          font-size: 3.5em;
          font-weight: bold;
          line-height: 1em;
          margin: 0;
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
        }
        &__description {
          background-image: -webkit-linear-gradient(#ffffff, #ffffff);
          background-clip: text;
          color: #ffffff;
          font-family: "Radiance";
          font-size: 1.5em;
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
        }
        app-gradient-button {
          margin: 19px 0 30px;
          &:hover {
            margin: 10px 0 20px;
            --font-size: 5vh;
            --max-width: 280px;
            --padding: 10px 0 7px;
          }
        }
      }
      @media only screen and (max-width: 1218px) {
        padding-right: 28px;
        .logo {
          width: 100%;
        }
        .register-section {
          app-gradient-button:hover {
            --width: 25vw;
          }
        }
      }
      @media only screen and (max-width: 600px) {
        .register-section {
          &__title {
            font-size: 7.3vw;
          }
          &__description {
            font-size: 3.7vw;
          }
        }
      }
    }
  }
}
.sticky {
  position: fixed !important;
  z-index: 2;
}
