<p>EL TORNEO ESTARÁ CONFORMADO POR 2 FASES DETALLADAS A CONTINUACIÓN:</p>
<p>
  1. FASE DE SELECCIÓN DE PARTICIPANTES: <strong>LA ORGANIZACIÓN</strong> UNA
  VEZ VERIFIQUE QUE TODOS LOS EQUIPOS CUMPLAN CON TODOS LOS REQUISITOS DE
  INSCRIPCIÓN SE LES BRINDARÁ EL CALENDARIO PARA LA PRIMERA FASE DEL TORNEO, QUE
  CONSTA DE TODOS CONTRA TODOS EN MANERA SIMULTANEA. TODAS LAS PARTIDAS SERÁ AL
  MEJOR DE UNO (BO1) A PARTOR DE LAS 4:00PM DEL DÍA 19 DE JUNIO DEL 2021.
</p>
<p>
  2. FASE DE PLAYOFFS: A PARTIR DE ESTA FASE, TODAS LAS PARTIDAS SERÁN
  TRANSMITIDAS A TRAVÉS DE LAS REDES DEL TORNEO Y DE LOS CASTERS. TODOS LOS
  MATCHES SERÁN BO3 Y FINALIZARÁ CON LA GRAN FINAL BO3 EL MISMO DÍA 20 DE JUNIO
  DEL 2021. EN ESTA FASE TENDREMOS SEMIFINALES Y SEGUIDAMENTE LA GRAN FINAL.
</p>
<p>
  PARA TODAS LAS COMUNICACIONES OFICIALES SE UTILIZARÁ EL CANAL OFICIAL DE
  DISCORD (
  <a href="https://discord.com/invite/jKaZyc3W8V"
    >https://discord.com/invite/jKaZyc3W8V</a
  >
  ) DENTRO DEL CUAL <strong>LA ORGANIZACIÓN</strong> COORDINARÁ CON
  <strong>EL CAPITÁN</strong> DE CADA EQUIPO LOS ACCESOS AL LOBBY DE JUEGO.
  <strong>LA ORGANIZACIÓN</strong> SE ASEGURARÁ DE QUE TODOS LOS PARTICIPANTES
  DE CADA PARTIDA INGRESEN A DICHO LOBBY E INICIEN EL JUEGO.
  <strong>EL CAPITÁN</strong> ES EL ÚNICO USUARIO QUE ESTÁ PERMITIDO DE
  COORDINAR CON <strong>LA ORGANIZACIÓN</strong>.
  <strong>EL CAPITÁN</strong> PODRÁ DESIGNAR A UNO DE LOS MIEMBROS DE SU EQUIPO
  COMO <strong>EL CAPITÁN</strong> MEDIANTE COMUNICACIÓN EXPRESA A
  <strong>LA ORGANIZACIÓN</strong>, EJECUTAR DICHA ACCIÓN REVOCARÁ SU ESTADO
  PERMANENTEMENTE Y SE LO BRINDARÁ AL OTRO USUARIO.
</p>
<p>
  TODOS LOS JUGADORES DE CADA EQUIPO DEBERÁN ESTAR CONECTADOS Y LISTOS PARA
  INICIAR COMO MÍNIMO 30 MINUTOS ANTES DE LA HORA PROGRAMADA DE SU PARTIDA.
  <strong>EL CAPITÁN</strong> DEBERÁ COMUNICARSE CON
  <strong>LA ORGANIZACIÓN</strong> VÍA DISCORD COMO MÍNIMO 30 MINUTOS ANTES DE
  DICHA HORA. DEMORAS EN LA COMUNICACIÓN Y/O CONEXIÓN DE JUGADORES PODRÁ GENERAR
  DESCALIFICACIÓN. LA TOLERANCIA MÁXIMA DENTRO DEL LOBBY SERÁ DE 10 MINUTOS COMO
  MÁXIMO PASADA LA HORA PROGRAMADA. EN CASO DE QUE AL MENOS UN JUGADOR DE UN
  EQUIPO NO ESTUVIERA CONECTADO AL MOMENTO DE LA EXPIRACIÓN DEL PLAZO DE
  TOLERANCIA <strong>EL CAPITÁN</strong> DE DICHO EQUIPO PODRÁ TOMAR LA DECISIÓN
  DE RETIRARSE DEL TORNEO Y PERDER POR DESCALIFICACIÓN O DE INICIAR LA PARTIDA Y
  JUGARLA EN DESVENTAJA NUMÉRICA.
</p>
<p>
  PARA LA ETAPA FINAL DEL TORNEO LAS HORAS DE LAS PROGRAMACIONES ESTARÁN
  REPRESENTADAS COMO INTERVALOS DENTRO DE LOS CUALES
  <strong>EL CAPITÁN</strong> DEL EQUIPO PARTICIPANTE DEBERÁ ESTAR LISTO Y
  ATENTO AL DISCORD, ASÍ COMO A SU CORREO ELECTRÓNICO Y NÚMERO CELULAR Y
  PREPARADO PARA INICIAR LA PARTIDA (DENTRO DEL CLIENTE DE STEAM Y DOTA 2
  ACTUALIZADOS). EJ. SI EL HORARIO DE SU PROGRAMACIÓN FIGURA COMO “DE 2 A 4PM”
  EL EQUIPO DEBERÁ ESTAR PREPARADO 30 MINUTOS ANTES DE LAS 2PM Y HASTA LAS 4PM
  ESPERANDO LA COMUNICACIÓN DE LA ADMINISTRACIÓN.
</p>
<p>
  TODAS LAS PARTIDAS DEL TORNEO SE REALIZARÁN EN LA MODALIDAD CAPTAIN’S MODE /
  MODO CAPITÁN. NO ESTÁ PERMITIDO INGRESAR ESPECTADORES AL JUEGO BAJO NINGUNA
  MODALIDAD.
</p>
<p>
  CUALQUIER TIPO DE USO DE TRAMPAS, SOFTWARE EXTERNO, AYUDA EXTERNA O PERSONAS
  FUERA DE LAS REGISTRADAS QUE INFLUYAN EN EL DESARROLLO DEL JUEGO QUE FUERAN
  DETECTADOS O DENUNCIADOS DURANTE EL DESARROLLO DE LA PARTIDA PODRÁ GENERAR
  DESCALIFICACIÓN AUTOMÁTICA SI ES QUE <strong>LA ORGANIZACIÓN</strong> LO
  CONSIDERA PERTINENTE.
</p>
<p>
  NO ESTÁN PERMITIDOS INSULTOS, CONDUCTAS ANTIDEPORTIVAS, PUBLICIDAD A CUALQUIER
  MEDIO, MARCA O PRODUCTO QUE NO SEA O PERTENEZCA A ALGÚN AUSPICIADOR OFICIAL
  DEL TORNEO, DISCURSOS DE ODIO, COMUNICACIÓN NO REGLAMENTARIA, BURLAS O
  CUALQUIER TIPO DE COMUNICACIÓN VIOLENTA O VULGAR ANTES, DURANTE O LUEGO DE LAS
  PARTIDAS OFICIALES MEDIANTE NINGÚN MEDIO OBSERVADO POR
  <strong>LA ORGANIZACIÓN</strong>. EN CASO DE DETECTARSE ALGUNA INFRACCIÓN SE
  PROCEDERÁ A LA DESCALIFICACIÓN AUTOMÁTICA DE TODO EL EQUIPO DEL USUARIO
  INFRACTOR.
</p>
<p>
  ESTÁ PROHIBIDO HACER USO DEL CHAT EN "ALL"/"TODOS" DURANTE TODAS LAS PARTIDAS,
  SALVO SEA NECESARIO HACER DE CONOCIMIENTO DE
  <strong>LA ORGANIZACIÓN</strong> ALGUNA CIRCUNSTANCIA DE JUEGO QUE NO ESTÉ
  CONTEMPLADA EN EL PRESENTE REGLAMENTO. SI UNA AGRUPACIÓN RECLAMA HABER SIDO
  VÍCTIMA DE ABUSO VERBAL O CUALQUIER TIPO DE HOSTIGAMIENTO VÍA CHAT ANTES,
  DURANTE O DESPUÉS DE LA PARTIDA <strong>LA ORGANIZACIÓN</strong> PODRÁ
  FISCALIZAR EL REPLAY U OTRAS PRUEBAS Y TOMAR ACCIONES CORRECTIVAS, INCLUYENDO
  LA POSIBILIDAD DE DESCALIFICAR AL EQUIPO AGRESOR.
</p>
<p>
  LA OPCIÓN "GG" DE RENDICIÓN DENTRO DEL JUEGO NO ESTÁ CONSIDERADA COMO PRUEBA
  DE VICTORIA NI DERROTA SALVO NO SEA CANCELADA DENTRO DEL TIEMPO DEL CONTEO
  REGRESIVO QUE INDICA EL JUEGO LUEGO DE USARLO Y LA PARTIDA TERMINE POR NO
  HACERLO (EN CUYO CASO DICHO EQUIPO SERÁ EL PERDEDOR). ESTE COMANDO NO DEBE SER
  UTILIZADO DURANTE LAS PARTIDAS SALVO SEA PARA EJECUTAR LA RENDICIÓN
  DEFINITIVA. SI UN EQUIPO UTILIZA EL COMANDO UNA VEZ Y ANULA EL CONTEO
  REGRESIVO <strong>LA ORGANIZACIÓN</strong> TOMARÁ DICHA ACCIÓN COMO ERROR, NO
  PUDIENDO ESTA ESTAR ACOMPAÑADA DE TEXTOS EN EL CHAT DEL JUEGO QUE DEN A
  ENTENDER A LA OTRA AGRUPACIÓN QUE EL JUEGO HA FINALIZADO POR RENDICIÓN. DE
  OCURRIR UNA SEGUNDA VEZ, ASÍ EL CONTEO REGRESIVO SEA ANULADO, SE CONSIDERARÁ
  COMO RENDICIÓN Y SE PROCEDERÁ A DECLARAR A DICHO EQUIPO COMO PERDEDOR.
</p>
<p>
  AL FINAL DE CADA PARTIDA <strong>EL CAPITÁN</strong> DE CADA EQUIPO SE
  ENCUENTRA EN LA OBLIGACIÓN DE REALIZAR UNA CAPTURA DE PANTALLA PARA ACREDITAR
  EL RESULTADO DEL JUEGO CON <strong>LA ORGANIZACIÓN</strong> Y SE LE REGISTRE
  CORRECTAMENTE COMO GANADOR O PERDEDOR. EN CASO DICHA ACCIÓN NO SE LLEVARÁ A
  CABO Y HUBIERA CUALQUIER TIPO DE DISPUTA
  <strong>LA ORGANIZACIÓN</strong> TENDRÁ LA FACULTAD DE DECIDIR EN FAVOR DEL
  EQUIPO QUE CONSIDERE PERTINENTE O ELIMINAR A AMBOS.
  <strong>EL CAPITÁN</strong> DE CADA EQUIPO ESTÁ OBLIGADO A PRESENTAR LOS
  RESULTADOS DE SU PARTIDA NO DESPUÉS DE 2 HORAS DE FINALIZADA SU PARTIDA
  UTILIZANDO EL DISCORD OFICIAL DEL TORNEO. DEMORAS O CUALQUIER TIPO DE
  MANIPULACIÓN DE DICHAS CAPTURAS PODRÁN GENERAR DESCALIFICACIÓN INMEDIATA. EN
  CASO DE INACTIVIDAD O FALTA DE ACREDITACIÓN DE RESULTADOS
  <strong>LA ORGANIZACIÓN</strong> PODRÁ DECIDIR EL RESULTADO DE LA PARTIDA
  SEGÚN CONSIDERE PERTINENTE.
</p>
<p>
  LAS PAUSAS ESTÁN PERMITIDAS ÚNICAMENTE A PARTIR DEL DÍA 20 DE JUNIO Y DEBERÁN
  SER FUNDAMENTADAS POR <strong>EL CAPITÁN</strong> DEL EQUIPO QUE LA REALICE.
  HABRÁ UN MÁXIMO DE 2 PAUSAS DE 2 MINUTOS CADA UNA POR JUEGO POR EQUIPO. TODAS
  LAS PAUSAS DEBEN REALIZARSE EN MOMENTOS DE POCA ACTIVIDAD, LAS PAUSAS
  MALINTENCIONADAS QUE <strong>LA ORGANIZACIÓN</strong> CONSIDERE QUE OBSTRUYAN
  LA FLUIDEZ DEL JUEGO PODRÁN GENERAR DESCALIFICACIÓN. PROBLEMAS DE CONEXIÓN O
  DE CUALQUIER ÍNDOLE QUE EVITARAN QUE UN PARTICIPANTE DESEMPEÑE SU FUNCIÓN
  DENTRO DE UN JUEGO SERÁN DE RESPONSABILIDAD ÚNICA DEL EQUIPO DEL QUE SEA
  PARTE. NO ESTÁN PERMITIDAS LAS PAUSAS FUERA DE LOS PLAZOS SEÑALADOS SALVO QUE
  <strong>LA ORGANIZACIÓN</strong> LO CONSIDERE PERTINENTE.
</p>
<p>
  LAS PARTIDAS TIENEN UNA DURACIÓN MÁXIMA DE 2 HORAS. EN CASO DICHO PLAZO SE
  EXCEDIERA O EXISTIERA PRESUNCIÓN DE PACTO DE NO AGRESIÓN O ALARGAMIENTO
  INNECESARIO DEL PLAZO DE JUEGO <strong>LA ORGANIZACIÓN</strong> PODRÁ INDICAR
  A CUALQUIERA DE LOS DOS EQUIPOS COMO GANADOR DEL ENCUENTRO.
</p>
<p>
  QUEDA TERMINANTEMENTE PROHIBIDO TRANSMITIR EN VIVO EN CUALQUIER PLATAFORMA
  CUALQUIER ASPECTO DEL TORNEO SIN AUTORIZACIÓN EXPRESA DE
  <strong>LA ORGANIZACIÓN</strong>. SI <strong>LA ORGANIZACIÓN</strong> DETECTA
  QUE ALGÚN PARTICIPANTE SE ENCUENTRA TRANSMITIENDO DIRECTA O INDIRECTAMENTE
  MEDIANTE CUALQUIER PLATAFORMA O MEDIO DE DIFUSIÓN QUE PUDIERA LLEGAR A TENER
  ACCESO PUBLICO SERÁ DESCALIFICADO INMEDIATAMENTE JUNTO A SU EQUIPO, SIN LUGAR
  A RECLAMO.
</p>
<p>
  TODOS LOS MIEMBROS DE <strong>LA ORGANIZACIÓN</strong>, YA SEAN MIEMBROS
  PERTENECIENTES A LA PRODUCCIÓN GENERAL DEL EVENTO, ASISTENTES O ENCARGADOS DE
  ALGUNA ÁREA O CUALQUIERA QUE PUDIERA TENER ACCESO A LA INFORMACIÓN
  CONFIDENCIAL O DE MANEJO Y GESTIÓN DEL PRESENTE EVENTO O COLABORADOR O
  INDIVIDUO QUE LABORE PARA ALGUNO DE LOS AUSPICIADORES O QUE SE PRUEBE QUE
  TIENE VÍNCULOS COMERCIALES O DE INTERÉS QUE LOS LIGUE A
  <strong>LA ORGANIZACIÓN</strong> O PUDIERA GENERAR CONFLICTOS DE INTERÉS O QUE
  PUDIERAN AFECTAR EL LIBRE CUMPLIMIENTO DE SUS FUNCIONES O LA CAUTELACIÓN DE
  LOS INTERESES DEL EVENTO O DE CUALQUIER ASPECTO DEL EVENTO, SU GESTIÓN O SU
  PUBLICIDAD ESTÁN TERMINANTEMENTE PROHIBIDOS DE PARTICIPAR COMO EQUIPO EN EL
  PRESENTE EVENTO, YA SEA COMO CAPITÁN, JUGADOR, SUPLENTE, COORDINADOR, MANAGER,
  COACH/ENTRENADOR, ASISTENTE TÉCNICO/MÉDICO O CUALQUIER OTRA POSICIÓN O CARGO
  QUE PUDIERA <strong>LA ORGANIZACIÓN</strong> INTERPRETAR COMO POTENCIAL
  INTERFERENCIA O CONFLICTO CON LOS INTERESES DE
  <strong>LA ORGANIZACIÓN</strong> Y EL EVENTO EN GENERAL. EN CUALQUIERA DE
  ESTOS CASOS <strong>LA ORGANIZACIÓN</strong> PODRÁ TOMAR LA DECISIÓN DE
  DESCALIFICAR O SEPARAR DEL EVENTO AUTOMÁTICAMENTE A TODOS LOS EQUIPOS Y
  COLABORADORES INVOLUCRADOS, SIN LUGAR A RECLAMO.
</p>
<p>
  CUALQUIER INFRACCIÓN AL PRESENTE REGLAMENTO O A CUALQUIERA DE LOS TEMAS
  MENCIONADOS PODRÁ RESULTAR EN DESCALIFICACIÓN AUTOMÁTICA SI
  <strong>LA ORGANIZACIÓN</strong> LO CONSIDERA PERTINENTE.
</p>
<p>
  <strong>LA ORGANIZACIÓN</strong> SE RESERVA EL DERECHO DE DESCALIFICAR ANTES,
  DURANTE O DESPUÉS DE CUALQUIER PARTIDA A CUALQUIER EQUIPO O PARTICIPANTE SI
  ASÍ LO CONSIDERA PERTINENTE.
</p>
