<p>EL TORNEO ESTARÁ CONFORMADO POR 2 FASES DETALLADAS A CONTINUACIÓN:</p>
<p>
  1. LA PRIMERA FASE DE LA COMPETECIA SERÁN A PARTIR DEL 17 DE NOVIEMBRE A
  PARTIR DE LAS 2:00PM HASTA TENER LOS 4 EQUIPOS CLASIFICADOS A LA FASE 2. SE
  ENFRENTARÁN EN UN ORDEN AL AZAR TODOS CONTRA TODOS AL MEJOR DE 1 (B01) DEBERÁN
  JUGAR CADA PARTIDA EN EL HORARIO INDICADO POR LA PLATAFORMA DE FISTBLOOD.
</p>
<p>
  2. FASE DE PLAYOFFS: A PARTIR DE ESTA FASE, TODAS LAS PARTIDAS SERÁN
  TRANSMITIDAS A TRAVÉS DE LAS REDES DEL TORNEO Y DE LOS CASTERS. TODOS LOS
  MATCHES SERÁN BO1 A EXEPCIÓN DE LA GRAN FINAL QUE SERÁ UNICAMENTE BO3 EL MISMO
  DIA 18 DE NOVIEMBRE DEL 2021. EN ESTA FASE TENDREMOS SEMIFINALES Y
  SEGUIDAMENTE LA GRAN FINAL.
</p>
<p>
  PARA TODAS LAS COMUNICACIONES OFICIALES SE UTILIZARÁ EL CANAL OFICIAL DE
  DISCORD (
  <a href="https://discord.com/invite/jKaZyc3W8V"
    >https://discord.com/invite/jKaZyc3W8V</a
  >
  ) LOS CAPITANES DE CADA EQUIPO ES INDISPENSABLE QUE SE ENCUENTREN EN EL
  DISCORD, DONDE SE LES BRINDARÁ INFORMACIÓN MÁS DETALLADA DEL EVENTO.
</p>
<p>
  TODOS LOS JUGADORES DE CADA EQUIPO DEBERÁN ESTAR CONECTADOS Y LISTOS PARA
  INICIAR COMO MÍNIMO 30 MINUTOS ANTES DE LA HORA PROGRAMADA DE SU PARTIDA. LA
  TOLERANCIA MÁXIMA DENTRO DEL LOBY SERÁ DE 10 MINUTOS COMO MÁXIMO PASADA LA
  HORA PROGRAMADA.
</p>
<p>
  PARA LA ETAPA FINAL DEL TORNEO LAS HORAS DE LAS PROGRAMACIONES ESTARÁN
  REPRESENTADAS COMO INTERVALOS DENTRO DE LOS CUALES EL CAPITÁN DEL EQUIPO
  PARTICIPANTE DEBERÁ ESTAR LISTO Y ATENTO AL DISCORD ADEMÁS TENER EN CUENTA EL
  CLIENTE DE STEAM Y DOTA 2 ACTUALIZADOS. EJ. SI EL HORARIO DE SU PROGRAMACIÓN
  FIGURA COMO "DE 2 A 4PM" EL EQUIPO DEBERÁ ESTAR PREPARADO 30 MINUTOS ANTES DE
  LAS 2PM Y HASTA LAS 4PM ESPERANDO LA COMUNICACIÓN DE LA ADMINISTRACIÓN.
</p>
<p>
  TODAS LAS PARTIDAS DEL TORNEO SE REALIZARÁN EN LA MODALIDAD CAPTAIN’S MODE /
  MODO CAPITÁN. NO ESTÁ PERMITIDO INGRESAR ESPECTADORES AL JUEGO BAJO NINGUNA
  MODALIDAD.
</p>
<p>
  CUALQUIER TIPO DE USO DE TRAMPAS, SOFTWARE EXTERNO, AYUDA EXTERNA O PERSONAS
  FUERA DE LAS REGISTRADAS QUE INFLUYAN EN EL DESARROLLO DEL JUEGO QUE FUERAN
  DETECTADOS O DENUNCIADOS DURANTE EL DESARROLLO DE LA PARTIDA PODRÁ GENERAR
  DESCALIFICACIÓN AUTOMÁTICA SI ES QUE LA ORGANIZACIÓN LO CONSIDERA PERTINENTE.
</p>
<p>
  NO ESTÁN PERMITIDOS INSULTOS, CONDUCTAS ANTIDEPORTIVAS, PUBLICIDAD A CUALQUIER
  MEDIO, MARCA O PRODUCTO QUE NO SEA O PERTENEZCA A ALGÚN AUSPICIADOR OFICIAL
  DEL TORNEO, DISCURSOS DE ODIO, COMUNICACIÓN NO REGLAMENTARIA, BURLAS O
  CUALQUIER TIPO DE COMUNICACIÓN VIOLENTA O VULGAR ANTES, DURANTE O LUEGO DE LAS
  PARTIDAS OFICIALES MEDIANTE NINGÚN MEDIO OBSERVADO POR LA ORGANIZACIÓN. EN
  CASO DE DETECTARSE ALGUNA INFRACCIÓN SE PROCEDERÁ A LA DESCALIFICACIÓN
  AUTOMÁTICA DE TODO EL EQUIPO DEL USUARIO INFRACTOR SEGÚN CONSIDERE LA
  ADMINISTRACIÓN.
</p>
<p>
  ESTÁ PROHIBIDO HACER USO DEL CHAT EN "ALL"/"TODOS" DURANTE TODAS LAS PARTIDAS,
  SALVO SEA NECESARIO HACER DE CONOCIMIENTO DE LA ORGANIZACIÓN ALGUNA
  CIRCUNSTANCIA DE JUEGO QUE NO ESTÉ CONTEMPLADA EN EL PRESENTE REGLAMENTO. SI
  UNA AGRUPACIÓN RECLAMA HABER SIDO VÍCTIMA DE ABUSO VERBAL O CUALQUIER TIPO DE
  HOSTIGAMIENTO VÍA CHAT ANTES, DURANTE O DESPUÉS DE LA PARTIDA LA ORGANIZACIÓN
  PODRÁ FISCALIZAR EL REPLAY U OTRAS PRUEBAS Y TOMAR ACCIONES CORRECTIVAS,
  INCLUYENDO LA POSIBILIDAD DE DESCALIFICAR AL EQUIPO AGRESOR.
</p>
<p>
  LA OPCIÓN "GG" DE RENDICIÓN DENTRO DEL JUEGO NO ESTÁ CONSIDERADA COMO PRUEBA
  DE VICTORIA NI DERROTA SALVO NO SEA CANCELADA DENTRO DEL TIEMPO DEL CONTEO
  REGRESIVO QUE INDICA EL JUEGO LUEGO DE USARLO Y LA PARTIDA TERMINE POR NO
  HACERLO (EN CUYO CASO DICHO EQUIPO SERÁ EL PERDEDOR). ESTE COMANDO NO DEBE SER
  UTILIZADO DURANTE LAS PARTIDAS SALVO SEA PARA EJECUTAR LA RENDICIÓN
  DEFINITIVA. SI UN EQUIPO UTILIZA EL COMANDO UNA VEZ Y ANULA EL CONTEO
  REGRESIVO LA ORGANIZACIÓN TOMARÁ DICHA ACCIÓN COMO ERROR, NO PUDIENDO ESTA
  ESTAR ACOMPAÑADA DE TEXTOS EN EL CHAT DEL JUEGO QUE DEN A ENTENDER A LA OTRA
  AGRUPACIÓN QUE EL JUEGO HA FINALIZADO POR RENDICIÓN. DE OCURRIR UNA SEGUNDA
  VEZ, ASÍ EL CONTEO REGRESIVO SEA ANULADO, SE CONSIDERARÁ COMO RENDICIÓN Y SE
  PROCEDERÁ A DECLARAR A DICHO EQUIPO COMO PERDEDOR.
</p>
<p>
  HABRÁ UN MÁXIMO DE 2 PAUSAS DE 3 MINUTOS CADA UNA POR JUEGO POR EQUIPO. TODAS
  LAS PAUSAS DEBEN REALIZARSE EN MOMENTOS DE POCA ACTIVIDAD, LAS PAUSAS
  MALINTENCIONADAS QUE LA ORGANIZACIÓN CONSIDERE QUE OBSTRUYAN LA FLUIDEZ DEL
  JUEGO PODRÁN GENERAR DESCALIFICACIÓN. PROBLEMAS DE CONEXIÓN O DE CUALQUIER
  ÍNDOLE QUE EVITARAN QUE UN PARTICIPANTE DESEMPEÑE SU FUNCIÓN DENTRO DE UN
  JUEGO SERÁN DE RESPONSABILIDAD ÚNICA DEL EQUIPO DEL QUE SEA PARTE. NO ESTÁN
  PERMITIDAS LAS PAUSAS FUERA DE LOS PLAZOS SEÑALADOS SALBO QUE LA ORGANIZACIÓN
  LO CONSIDERE PERTINENTE.
</p>
<p>
  LAS PARTIDAS TIENEN UNA DURACIÓN MÁXIMA DE 2 HORAS. EN CASO DICHO PLAZO SE
  EXCEDIERA O EXISTIERA PRESUNCIÓN DE PACTO DE NO AGRESIÓN O ALARGAMIENTO
  INNECESARIO DEL PLAZO DE JUEGO LA ORGANIZACIÓN PODRÁ INDICAR A CUALQUIERA DE
  LOS DOS EQUIPOS COMO GANADOR DEL ENCUENTRO.
</p>
<p>
  QUEDA TERMINANTEMENTE PROHIBIDO TRANSMITIR EN VIVO EN CUALQUIER PLATAFORMA
  CUALQUIER ASPECTO DEL TORNEO SIN AUTORIZACIÓN EXPRESA DE LA ORGANIZACIÓN. SI
  LA ORGANIZACIÓN DETECTA QUE ALGÚN PARTICIPANTE SE ENCUENTRA TRANSMITIENDO
  DIRECTA O INDIRECTAMENTE MEDIANTE CUALQUIER PLATAFORMA O MEDIO DE DIFUSIÓN QUE
  PUDIERA LLEGAR A TENER ACCESO PUBLICO SERÁ DESCALIFICADO INMEDIATAMENTE JUNTO
  A SU EQUIPO, SIN LUGAR A RECLAMO.
</p>
<p>
  TODOS LOS MIEMBROS DE LA ORGANIZACIÓN, YA SEAN MIEMBROS PERTENECIENTES A LA
  PRODUCCIÓN GENERAL DEL EVENTO, ASISTENTES O ENCARGADOS DE ALGUNA ÁREA O
  CUALQUIERA QUE PUDIERA TENER ACCESO A LA INFORMACIÓN CONFIDENCIAL O DE MANEJO
  Y GESTIÓN DEL PRESENTE EVENTO O COLABORADOR O INDIVIDUO QUE LABORE PARA ALGUNO
  DE LOS AUSPICIADORES O QUE SE PRUEBE QUE TIENE VÍNCULOS COMERCIALES O DE
  INTERÉS QUE LOS LIGUE A LA ORGANIZACIÓN O PUDIERA GENERAR CONFLICTOS DE
  INTERÉS O QUE PUDIERAN AFECTAR EL LIBRE CUMPLIMIENTO DE SUS FUNCIONES O LA
  CAUTELACIÓN DE LOS INTERESES DEL EVENTO O DE CUALQUIER ASPECTO DEL EVENTO, SU
  GESTIÓN O SU PUBLICIDAD ESTÁN TERMINANTEMENTE PROHIBIDOS DE PARTICIPAR COMO
  EQUIPO EN EL PRESENTE EVENTO, YA SEA COMO CAPITÁN, JUGADOR, SUPLENTE,
  COORDINADOR, MANAGER, COACH/ENTRENADOR, ASISTENTE TÉCNICO/MÉDICO O CUALQUIER
  OTRA POSICIÓN O CARGO QUE PUDIERA LA ORGANIZACIÓN INTERPRETAR COMO POTENCIAL
  INTERFERENCIA O CONFLICTO CON LOS INTERESES DE LA ORGANIZACIÓN Y EL EVENTO EN
  GENERAL. EN CUALQUIERA DE ESTOS CASOS LA ORGANIZACIÓN PODRÁ TOMAR LA DECISIÓN
  DE DESCALIFICAR O SEPARAR DEL EVENTO AUTOMÁTICAMENTE A TODOS LOS EQUIPOS Y
  COLABORADORES INVOLUCRADOS, SIN LUGAR A RECLAMO.
</p>
<p>
  CUALQUIER INFRACCIÓN AL PRESENTE REGLAMENTO O A CUALQUIERA DE LOS TEMAS
  MENCIONADOS PODRÁ RESULTAR EN DESCALIFICACIÓN AUTOMÁTICA SI LA ORGANIZACIÓN LO
  CONSIDERA PERTINENTE.
</p>
<p>
  LA ORGANIZACIÓN SE RESERVA EL DERECHO DE DESCALIFICAR ANTES, DURANTE O DESPUÉS
  DE CUALQUIER PARTIDA A CUALQUIER EQUIPO O PARTICIPANTE SI ASÍ LO CONSIDERA
  PERTINENTE.
</p>
<p>
  EL REGLAMENTO PUEDE SER MOFICADO SIN PREVIO A VISO SI ES NECESARIO, TODO EL
  REGLAMENTO PARA LA TOMA DE UNA DECISIÓN QUEDARÁ SUJETO A LA PERSECCIÓN DEL
  ADMINISTRADOR.
</p>
