.device-feature {
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 127px;
  justify-content: center;
  padding: 14px 10px;
  width: 135px;
  .image {
    height: 5vh;
    max-height: 54px;
    object-fit: contain;
  }
  .description {
    align-items: center;
    border-top: 1px solid white;
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    padding-top: 13px;
    margin-top: 13px;
  }
  @media only screen and (max-width: 730px) {
    height: 13.5vh;
    width: 17.5vw;
    .description {
      font-size: 3.7vw;
    }
  }
}
