.acer.register {
  background-image: url("/assets/media/bg-registro.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
  app-navbar {
    --background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  .body {
    align-items: center;
    color: #fefefe;
    display: flex;
    flex-direction: column;
    font-family: "Radiance";
    min-height: 80vh;
    margin: 8.5em 0 auto;
    padding: 0 28px;
    .tutorial {
      margin-top: 8%;
      margin-bottom: 2%;
    }
    .title {
      font-weight: bold;
      font-size: 1.4vw;
      margin: 0 0 1vh;
      text-align: center;
    }
    .text {
      font-weight: bold;
      font-size: 1vw;
      margin: 0 0 1vh;
      text-align: center;
    }
    a {
      color: #fefefe;
      text-decoration: none;
    }
    app-silver-gradient-button {
      margin-top: 5%;
      --font-size: 2.5vh;
      --font-weight: normal;
      --max-width: 260px;
      --vertical-padding: 10px;
      &:hover {
        margin-top: 4.1%;
        --font-size: 3vh;
        --font-weight: normal;
        --max-width: 280px;
        --vertical-padding: 15px;
      }
    }
    @media only screen and (max-width: 1218px) {
      app-silver-gradient-button:hover {
        --width: 25vw;
      }
    }
    @media only screen and (max-width: 768px) {
      min-height: 70vh;
      .title {
        font-size: 3vh;
      }
      .text {
        font-size: 2vh;
      }
    }
  }
}
