<!-- <div class="register">
  <div *ngIf="!!(loading | async) as load">
    {{ load }}
  </div>
  <form [formGroup]="registerFG">
    <input formControlName="teamName" />
    <input formControlName="firstMember" />
    <input formControlName="secondMember" />
    <input formControlName="thirdMember" />
    <input formControlName="fourthMember" />
    <input formControlName="fifthMember" />
    <input formControlName="email" />
    <input formControlName="cellphone" />
  </form>
  <button (click)="sendEmail()">REGISTRARSE</button>
</div> -->
