<div class="acer register">
  <div class="overlay">
    <app-navbar></app-navbar>
    <div class="acer register__body">
      <div class="description">
        <p class="title">LA INSCRIPCIÓN SE LLEVARÁ A TRAVÉS DE BATTLEFY</p>
        <!-- <p class="text">
        TODOS LOS JUGADORES DEBERÁN UNIRSE AL DISCORD OFICIAL DE LA COMPETENCIA,
        DONDE EL STAFF HARÁ LAS COMUNICACIONES RESPECTIVAS Y NECESARIAS SOBRE LA
        COMPETENCIA.
      </p>
      <p class="text">
        DEBERÁ INGRESAR A DISCORD
        <a href="https://discord.com/invite/jKaZyc3W8V"
          >https://discord.com/invite/jKaZyc3W8V</a
        >
      </p> -->
      </div>
      <app-gradient-button
        text="¡INSCRÍBETE AQUÍ!"
        (click)="openRegister()"
      ></app-gradient-button>
    </div>
    <app-footer></app-footer>
  </div>
</div>
