:host {
  --font-size: 3.5vh;
  --font-weight: bold;
  --max-width: 235px;
  --vertical-padding: 3px;
  --width: 20vw;
}

.module {
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  max-width: var(--max-width);
  min-width: 205px;
  position: relative;
  color: white;
  padding: var(--vertical-padding) 0;
  text-align: center;
  width: var(--width);
}
.module-border {
  position: absolute;
  overflow: visible;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
  fill: none;
  stroke: url(#silvergrad);
  stroke-width: 4px;
}
.module-text {
  background-image: linear-gradient(to top, #ffffff, #aaaaaa),
    linear-gradient(to bottom, #fefefe, #fefefe);
  background-clip: text;
  font-family: "Radiance";
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  -webkit-text-fill-color: transparent;
}
#silvergrad stop:nth-child(1) {
  stop-color: #ffffff;
}
#silvergrad stop:nth-child(2) {
  stop-color: #b4b4b4;
}
