<div class="footer">
  <app-brands></app-brands>
  <div class="navegation">
    <a routerLink="/">INICIO</a>
    <a class="horizontal-border" href="/legal">REGLAMENTO</a>
    <a routerLink="/registro">INSCRIPCIONES</a>
  </div>
  <div class="hashtags">
    <label class="hashtags__item">#ACERCHALLENGEDOTAWARS</label>
    <label class="hashtags__item">#ACERPERU</label>
    <label class="hashtags__item">#AMD</label>
    <label class="hashtags__item">#RIPLEY</label>
  </div>
  <a routerLink="/legal">TÉRMINOS Y CONDICIONES</a>
</div>
