<div class="acer footer">
  <app-brands></app-brands>
  <div class="navegation">
    <a routerLink="/">INICIO</a>
    <a class="horizontal-border" href="/reglamento">REGLAMENTO</a>
    <a routerLink="/registro">INSCRIPCIONES</a>
  </div>
  <div class="hashtags">
    <label class="hashtags__item">#ACERCHALLENGE1VS1</label>
    <label class="hashtags__item">#ACERPERU</label>
    <label class="hashtags__item">#OECHSLEGAMING</label>
    <label class="hashtags__item">#TIENDASOECHSLE</label>
    <label class="hashtags__item">#AMD</label>
    <label class="hashtags__item">#WINDOWS</label>
  </div>
  <a routerLink="/terminos">TÉRMINOS Y CONDICIONES</a>
  <p class="extra-info">
    *La actualización de Windows 11 se entregará a los dispositivos que
    califiquen a fines de 2021 y hasta 2022. El tiempo variará según el
    dispositivo. Ciertas funciones requieren hardware específico (ver
    aka.ms/windows11-spec).
  </p>
  <div class="developer">
    <label class="developer__label">DESARROLLADO Y EJECUTADO POR</label>
    <img
      class="developer__image"
      src="/assets/media/logo-qwer.png"
      alt="QWER Studios"
      (click)="contactDeveloper()"
    />
    <p></p>
  </div>
</div>
