:host {
  --background: none;
}

.acer.footer {
  align-items: center;
  background: var(--background);
  display: flex;
  flex-direction: column;
  font-size: 1.4em;
  padding: 28px;
  position: relative;
  text-align: center;
  a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-image: -webkit-linear-gradient(#ff2300, #ff8700);
    }
  }
  app-brands {
    margin: 28px 0 2em;
  }
  .horizontal-border {
    border-left: 2px solid white;
    border-right: 2px solid white;
    padding: 0 62px;
    margin: 0 62px;
    width: fit-content;
  }
  .navegation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 41px;
  }
  .hashtags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 41px;
    &__item {
      margin: 0 10px;
    }
  }
  .developer {
    align-items: center;
    display: flex;
    margin-top: 3em;
    &__label {
      font-size: 0.6em;
    }
    &__image {
      height: 1.1em;
      margin-left: 15px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .footer {
    font-size: 3.9vw;
    .horizontal-border {
      border: 0;
    }
    .navegation {
      flex-direction: column;
    }
  }
}
