<div class="footer">
  <app-brands></app-brands>
  <div class="content">
    <a>INICIO</a>
    <label class="separator">|</label>
    <a>REGLAMENTO</a>
    <label class="separator">|</label>
    <a>INSCRIPCIONES</a>
  </div>
  <div class="content">
    <label class="hashtag">#ACERCHALLENGEDOTAWARS</label>
    <label class="hashtag">#ACERPERU</label>
    <label class="hashtag">#AMD</label>
    <label class="hashtag">#RIPLEY</label>
  </div>
  <label>|&nbsp;&nbsp;<a>TÉRMINOS Y CONDICIONES</a>&nbsp;&nbsp;|</label>
</div>
