.acer.live {
  background-image: url("/assets/media/bg-en-vivo.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
  app-navbar {
    --background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  .image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: 12em auto 0;
    min-height: 225px;
    max-width: 1400px;
    object-fit: cover;
    width: 85vw;
  }
  .overlay {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 8.5em 0 8%;
    min-height: 145vh;
    padding: 0 28px;
    z-index: 1;
    p,
    label {
      background-clip: text;
      color: #ffffff;
      font-family: "Radiance";
      font-weight: bold;
      margin: 0;
      text-align: center;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    }
    app-gradient-button {
      margin-top: 3%;
      &:hover {
        margin-top: 2.5%;
        --font-size: 5vh;
        --max-width: 280px;
        --padding: 10px 0 7px;
      }
    }
    .top-text {
      background-image: -webkit-linear-gradient(#ffffff, #f6f6f6);
      font-size: 1.5vw;
    }
    .title {
      background-image: -webkit-linear-gradient(#ffffff, #f6f6f6);
      font-size: 3.5vw;
      line-height: 1em;
      margin-top: auto;
      .nitro {
        background-image: -webkit-linear-gradient(#ff8700, #ff2300);
      }
    }
    .subtitle {
      background-image: -webkit-linear-gradient(#ffffff, #f6f6f6);
      font-size: 1.8vw;
    }
    .steam {
      align-items: center;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      margin-top: 5%;
      &__image {
        width: 25vw;
      }
      &__text {
        p {
          background-image: linear-gradient(to top, #ffffff, #f6f6f6),
            linear-gradient(to bottom, #fefefe, #fefefe);
          font-size: 1vw;
        }
        :last-child {
          font-weight: normal;
        }
      }
    }
  }
  @media only screen and (max-width: 1700px) {
    .overlay {
      min-height: 80vw;
    }
  }
  @media only screen and (max-width: 1200px) {
    .overlay {
      min-height: 90vw;
      app-gradient-button:hover {
        --width: 25vw;
      }
    }
  }
  @media only screen and (max-width: 768px) {
    .image {
      margin-top: 15em;
    }
    .overlay {
      min-height: 100vh;
      .top-text {
        font-size: 2vh;
      }
      .title {
        font-size: 3.5vh;
      }
      .subtitle {
        font-size: 2vh;
      }
      .steam {
        &__image {
          width: 80%;
        }
        &__text {
          p {
            font-size: 2vh;
          }
        }
      }
    }
  }
}
.sticky {
  position: fixed !important;
  z-index: 2;
}
